{% extends "_inc/_layout-2.twig" %}
{% set title = "404 page" %} {# {{ title }} #}
{% set foot_img_src = "img/foot-img.jpg" %} {# {{ title }} #}

{% set lnk_active_1 = "active" %} {# {{ lnk_active_1 }} #}


{% block page %}

<main class="page-wrap">



	<section class="sect-404">
		<div class="container">
			<br>
			<br>
			<br>

			<div class="title-sect title-404">
				<h1>404 not found</h1>
			</div>

			<br>
			<br>
			<br>

		</div><!-- container -->
	</section>

</main><!-- page-wrap END -->

{% endblock %}
