{% extends "_inc/_layout-2.twig" %}
{% set title = "Impressum" %} {# {{ title }} #}
{% set foot_img_src = "img/foot-img.jpg" %} {# {{ title }} #}

{% set lnk_active_1 = "active" %} {# {{ lnk_active_1 }} #}


{% block page %}

<main class="page-wrap">

	<section class="text-section">
		<div class="container">
			<div class="content-wrap">
				<span class="sect-mark">Impressum</span>
				<div class="title-wrap">
					<h2>Impressum</h2>
				</div>

				<div class="text-wrap p-width-limit">
					<div class="text-block">
						<h4>Informationen nach § 5 TMG:</h4>
						<p class="block-title">Sumerai GmbH</p>
						<p>c/o Fischer / Kiehne</p>
						<p>Pufendorfstraße 6 / 10249 Berlin</p>
						<a href="mailto:info@ hivebuy.de">info@ hivebuy.de</a>
					</div>


					<div class="text-block with-br">
						<h4>Vertreten durch:</h4>
						<p>Geschäftsführer:<br> Bettina Fischer und Stefan Kiehne</p>
						<p>Inhaltlich Verantwortlicher gemäß § 55 RStV: Fischer / Kiehne</p>
					</div>

					<div class="text-block">
						<h4>Register und UStID:</h4>
						<p>Registernummer HRB 226870 B beim Amtsgericht Berlin-Charlottenburg UStID. gemäß §27 Umsatzsteuergesetz: DE241631448</p>
					</div>


					<div class="text-block">
						<p>Gestaltung und Programmierung:</p>
						<a href="www.fzey.de">www.fzey.de</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</main><!-- page-wrap END -->

{% endblock %}
