{% extends "_inc/_layout.twig" %}
{% set title = "Hivebuy" %} {# {{ title }} #}
{% set foot_img_src = "img/foot-img.jpg" %} {# {{ title }} #}

{# {% set lnk_active_1 = "active" %} #} {# {{ lnk_active_1 }} #}

{% block page %}

<main class="home-wrap">

	<section class="dashboard-page">
		<div class="container">
			<span class="sect-mark">hivebuy</span>

			<div id="bg-figure-1" class="bg-figure bg-figure-r-green --animate" data-parallax-speed="-1">
				<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
			</div>
			<div id="bg-figure-2" class="bg-figure bg-figure-r-plum  --animate" data-parallax-speed="-1.5">
				<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
			</div>
			<div class="content-wrap">
				<h1>The ease of <br> spending</h1>
				<div class="dashboard-wrap">
					<div class="bg-figure arrow-figure">
						<img src="web/img/_style/_svg/hivebuy-arrow.svg" alt="figure">
					</div>
					<div class="img-wrap human-figure">
						<img src="web/img/main-page/hivebuy-demo1-theeaseofspending.svg" alt="standing girl">
					</div>
					<div class="img-wrap macbook-figure">
						<img src="web/img/_style/_svg/hivebuy-device-macbook.svg" alt="figure">
						<div class="img-wrap">
							<img src="web/img/main-page/hivebuy-ui-product-dashboard.png" alt="dashboard preview">
						</div>
					</div>
				</div>
				<div class="companies-wrap">
					<div class="img-wrap">
						<img src="web/img/_style/companies/logo-client-cremanski.svg" alt="client cremanski">
					</div>
					<div class="img-wrap">
						<img src="web/img/_style/companies/logo-client-home.svg" alt="client home">
					</div>
					<div class="img-wrap">
						<img src="web/img/_style/companies/logo-client-hypatos.svg" alt="client hypatos">
					</div>
					<div class="img-wrap">
						<img src="web/img/_style/companies/logo-client-keleya.svg" alt="client keleya">
					</div>
					<div class="img-wrap">
						<img src="web/img/_style/companies/logo-client-zauberwald.svg" alt="client zauberwald">
					</div>
				</div>
			</div>
		</div>
		<div class="companies-wrap-mobile">
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-cremanski.svg" alt="client cremanski">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-home.svg" alt="client home">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-hypatos.svg" alt="client hypatos">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-keleya.svg" alt="client keleya">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-zauberwald.svg" alt="client zauberwald">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-cremanski.svg" alt="client cremanski">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-home.svg" alt="client home">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-hypatos.svg" alt="client hypatos">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-keleya.svg" alt="client keleya">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-zauberwald.svg" alt="client zauberwald">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-cremanski.svg" alt="client cremanski">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-home.svg" alt="client home">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-hypatos.svg" alt="client hypatos">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-keleya.svg" alt="client keleya">
				</div>
				<div class="img-wrap">
					<img src="web/img/_style/companies/logo-client-zauberwald.svg" alt="client zauberwald">
				</div>
			</div>
	</section>

	<section class="funktioniert-wrap">
		<div class="container">
			<span class="sect-mark">So funktioniert’s</span>
			<div class="title-wrap">
				<h2>Gewinne Zeit zum Ausgeben, <br> indem du Zeit beim Ausgeben sparst</h2>
			</div>
			<div class="content-wrap">
				<p class="p-width-limit">Probleme sind am besten zu lösen, wenn sie gar nicht erst entstehen. Daher setzt HIVEBUY auf individuelle, intuitiv gestaltete Approval-Prozesse, die mit kurzen, klaren Wegen die Beschaffung fast zum Selbstläufer machen.</p>
				<div class="width-limit">
					<div class="img-wrap">
						<img src="web/img/main-page/hivebuy-howitworks-de.png" alt="work diagramm">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="vorteile">
		<div class="container">
			<span class="sect-mark">Vorteile</span>
			<div class="title-wrap">
				<h2>Eine intuitive Cloud - Lösung <br> für all deine Bedürfnisse</h2>
			</div>
			<div class="content-wrap">
				<div class="vorteil-row workload">
					<div class="vorteil-cell">
						<div class="img-wrap">
							<img src="web/img/main-page/benefits/hivebuy-benefits-approval-workflow.svg" alt="benefits picture">
						</div>
						<div class="bg-figure bg-figure-l-plum">
							<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
						</div>
					</div>

					<div class="vorteil-cell-descr">
						<h3>Denke und handle groß, aber halte den workload klein</h3>
						<div class="img-wrap">
							<img src="web/img/_style/_svg/benefits-arr-l.svg" alt="figure">
						</div>
						<p>Beschaffung wie in Großunternehmen, nur smart und easy. Der intuitive Approval-Workflow ist das Herzstück von Hivebuy, das von Anforderung bis Bestellung fokussiert genau die Richtigen entscheiden lässt.</p>
					</div>

				</div>
				<div class="vorteil-row reverse-row communication">
					<div class="vorteil-cell">
						<div class="img-wrap">
							<img src="web/img/main-page/benefits/hivebuy-benefits-communication.svg" alt="benefits picture">
						</div>
						<div class="bg-figure bg-figure-l-green">
							<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
						</div>
						<div class="bg-figure bg-figure-r-plum">
							<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
						</div>
					</div>

					<div class="vorteil-cell-descr">
						<h3>Stärke dein Team durch Transparenz und Kommunikation</h3>
						<div class="img-wrap">
							<img src="web/img/_style/_svg/benefits-arr-r.svg" alt="figure">
						</div>
						<p>Alles im Blick und alles im Überblick. Durch klare Zuordnungen und Freigaben sowie Kommunikation über alle Kanäle hinweg arbeiten die Mitarbeitenden eigenverantwortlich, informiert und effizient.</p>
					</div>

				</div>
				<div class="vorteil-row digitalization">
					<div class="vorteil-cell">
						<div class="img-wrap">
							<img src="web/img/main-page/benefits/hivebuy-benefits-digitalisation.svg" alt="benefits picture">
						</div>
						<div class="bg-figure bg-figure-l-green">
							<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
						</div>
						<div class="bg-figure bg-figure-r-plum">
							<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
						</div>
					</div>

					<div class="vorteil-cell-descr">
						<h3>Zeig allen, dass Digitalisierung heißt, vieles einfacher zu machen</h3>
						<div class="img-wrap">
							<img src="web/img/_style/_svg/benefits-arr-l.svg" alt="figure">
						</div>
						<p>eProcurement mit Hivebuy konzentriert sich auf das Wesentliche, die Kompetenz der Entscheider. Vorlagen sowie Schnittstellen zu anderen und bestehenden Tools ermöglichen ein schnelles und flexibles Setup.</p>
					</div>

				</div>
				<div class="vorteil-row reverse-row vendors">
					<div class="vorteil-cell">
						<div class="img-wrap">
							<img src="web/img/main-page/benefits/hivebuy-benefits-vendors.svg" alt="benefits picture">
						</div>
						<div class="bg-figure bg-figure-r-green">
							<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
						</div>
					</div>

					<div class="vorteil-cell-descr">
						<h3>Profitiere von den Konditionen der Lieferantenkataloge</h3>
						<div class="img-wrap">
							<img src="web/img/_style/_svg/benefits-arr-r.svg" alt="figure">
						</div>
						<p>Hivebuy bindet Lieferanten-Kataloge wie Amazon an und handelt Großabnehmerabatte aus, die wir an dein Unternehmen weitergeben. Gemeinsam bringt mehr: Die Kraft des Hives macht es möglich.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="kunden">
		<div class="container">
			<span class="sect-mark">Kunden</span>
			<div class="title-wrap">
				<h2>Vertrauen trifft Zufriedenheit</h2>
			</div>
			<div class="content-wrap">
				<div class="client-slider-wrap">
					<div class="client-slider">
						<div class="client-slider-itm">
							<div class="itm-top">
								<div class="img-wrap client-photo">
									<img src="web/img/main-page/clients/hivebuy-clients-portrait-uli-exrleben-1200x1200px.jpg" alt="client photo">
								</div>
								<div class="img-wrap client-company">
									<img src="web/img/_style/companies/logo-client-hypatos.svg" alt="client company">
								</div>
							</div>
							<div class="itm-text">
								<p>„Super simples und einfaches Set-Up – das Beste, was uns im Einkauf passieren konnte. eProcurement smart und intuitive aufsetzen: Rollen, Departments und Budget waren in nur wenigen Minuten definiert und eingerichtet.“</p>
							</div>
							<div class="itm-sign">
								<span>Uli Erxleben, CEO Hypatos</span>
							</div>
						</div>

						<div class="client-slider-itm">
							<div class="itm-top">
								<div class="img-wrap client-photo">
									<img src="web/img/main-page/clients/hivebuy-clients-portrait-vitoria-engelhardt-1200x1200px.jpg" alt="client photo">
								</div>
								<div class="img-wrap client-company">
									<img src="web/img/_style/companies/logo-client-keleya.svg" alt="client company">
								</div>
							</div>
							<div class="itm-text">
								<p>„Ab officiis cumque amet vel nam eum nihil, illo quae nobis, ducimus ipsa, perferendis sunt non quod corporis dignissimos similique corrupti voluptatum voluptate. Qui, doloremque exercitationem iste doloribus velit nihil!“</p>
							</div>
							<div class="itm-sign">
								<span>Vitoria Engelhardt, CEO Keleya</span>
							</div>
						</div>

						<div class="client-slider-itm">
							<div class="itm-top">
								<div class="img-wrap client-photo">
									<img src="web/img/main-page/clients/hivebuy-clients-portrait-thilo-konzok-1200x1200px.jpg" alt="client photo">
								</div>
								<div class="img-wrap client-company">
									<img src="web/img/_style/companies/logo-client-home.svg" alt="client company">
								</div>
							</div>
							<div class="itm-text">
								<p>„Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio doloremque facere, accusamus consequatur error numquam repellendus tempore aliquam rem provident dolores soluta quasi“</p>
							</div>
							<div class="itm-sign">
								<span>Thilo Konzok, CEO Home</span>
							</div>
						</div>
					</div>
					<div class="slide-controls">
						<div class="paging-info">
							<span class="current"></span>
							<div class="paging-info-divide">/</div>
							<span class="total"></span>
						</div>

						<div class="slider-nav"></div>
					</div>
				</div>
				<div class="bg-figure bg-figure-r-green">
					<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
				</div>
				<div class="bg-figure bg-figure-r-plum">
					<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
				</div>
			</div>
		</div>
	</section>

	<section id="funktionen">
		<div class="container">
			<span class="sect-mark">Funktionen</span>
			<div class="title-wrap">
				<h2>Entwickelt mit <br> und für Unternehmen</h2>
			</div>
			<div class="content-wrap">
				<div class="funktionen-top">
					<div class="img-wrap desktop-img">
						<img src="web/img/main-page/hivebuy-features-developed-for-companies.svg" alt="features img">
					</div>
					<div class="img-wrap mobile-img">
						<img src="web/img/main-page/features_mobile.svg" alt="features img">
					</div>
					<div class="bg-figure bg-figure-l-green">
						<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
					</div>
					<div class="bg-figure bg-figure-l-plum">
						<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
					</div>
					<div class="bg-figure bg-figure-r-green">
						<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
					</div>
					<div class="bg-figure bg-figure-r-plum">
						<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
					</div>
				</div>
				<div class="features-cards-wrap">
					<div class="features-card">
						<div class="card-top">
							<div class="img-wrap">
								<img src="web/img/_style/_svg/check.svg" alt="figure">
							</div>
						</div>
						<div class="card-descr">
							<h4>Anforderung und <br> Ausschreibung</h4>
							<p>Intuitives Anlegen der Bestell-Anforderungen ohne vorheriges Finanzwissen. Gib Kompetenz den Vorrang.</p>
						</div>
					</div>

					<div class="features-card">
						<div class="card-top">
							<div class="img-wrap">
								<img src="web/img/_style/_svg/check.svg" alt="figure">
							</div>
						</div>
						<div class="card-descr">
							<h4>Budgetverwaltung <br> und Kontrolle</h4>
							<p>Transparente Darstellung und Zuweisung der Budgets. Mach das Team entscheidungsfähig und hab die Kontrolle.</p>
						</div>
					</div>

					<div class="features-card">
						<div class="card-top">
							<div class="img-wrap">
								<img src="web/img/_style/_svg/check.svg" alt="figure">
							</div>
						</div>
						<div class="card-descr">
							<h4>Genehmigung und <br> Freigabe</h4>
							<p>Verknüpfung von Departments, Budgets und Freigabelevel mit simplem Kommunikations-Ablauf. Sei schnell und direkt.</p>
						</div>
					</div>

					<div class="features-card">
						<div class="card-top">
							<div class="img-wrap">
								<img src="web/img/_style/_svg/check.svg" alt="figure">
							</div>
						</div>
						<div class="card-descr">
							<h4>Charts und <br> Analysen</h4>
							<p>Übersicht über Bestellungen, Ausgaben und deren Entwicklung. Gewinne Insights und optimiere deine Ressourcen.</p>
						</div>
					</div>

					<div class="features-card">
						<div class="card-top">
							<div class="img-wrap">
								<img src="web/img/_style/_svg/check.svg" alt="figure">
							</div>
						</div>
						<div class="card-descr">
							<h4>Sortimente und <br> Kataloge</h4>
							<p>Einbindung bestimmter und nachhaltiger Lieferanten-Kataloge. Profitiere von unseren Großabnehmer-Konditionen.</p>
						</div>
					</div>

					<div class="features-card">
						<div class="card-top">
							<div class="img-wrap">
								<img src="web/img/_style/_svg/check.svg" alt="figure">
							</div>
						</div>
						<div class="card-descr">
							<h4>Schnittstellen und <br> Datenexport</h4>
							<p>Anbindung an Finanz- und Kommunikations-Tools wie DATEV, SAP, Slack oder Microsoft Teams. Bleib flexibel.</p>
						</div>
					</div>
				</div>

				<div class="features-cards-mobile">
					<div class="card-top">
						<div class="img-wrap">
							<img src="web/img/_style/_svg/check.svg" alt="figure">
						</div>
					</div>
					<div class="features-slider-wrap">
						<div class="features-slider">
							<div class="features-slider-itm">
								<h4>Anforderung und <br> Ausschreibung</h4>
								<p>Intuitives Anlegen der Bestell-Anforderungen ohne vorheriges Finanzwissen. Gib Kompetenz den Vorrang.</p>
							</div>

							<div class="features-slider-itm">
								<h4>Budgetverwaltung <br> und Kontrolle</h4>
								<p>Transparente Darstellung und Zuweisung der Budgets. Mach das Team entscheidungsfähig und hab die Kontrolle.</p>
							</div>

							<div class="features-slider-itm">
								<h4>Genehmigung und <br> Freigabe</h4>
								<p>Verknüpfung von Departments, Budgets und Freigabelevel mit simplem Kommunikations-Ablauf. Sei schnell und direkt.</p>
							</div>

							<div class="features-slider-itm">
								<h4>Charts und <br> Analysen</h4>
								<p>Übersicht über Bestellungen, Ausgaben und deren Entwicklung. Gewinne Insights und optimiere deine Ressourcen.</p>
							</div>

							<div class="features-slider-itm">
								<h4>Sortimente und <br> Kataloge</h4>
								<p>Einbindung bestimmter und nachhaltiger Lieferanten-Kataloge. Profitiere von unseren Großabnehmer-Konditionen.</p>
							</div>

							<div class="features-slider-itm">
								<h4>Schnittstellen und <br> Datenexport</h4>
								<p>Anbindung an Finanz- und Kommunikations-Tools wie DATEV, SAP, Slack oder Microsoft Teams. Bleib flexibel.</p>
							</div>
						</div>
						<div class="slide-controls">
							<div class="paging-info">
								<span class="current"></span>
								<div class="paging-info-divide">/</div>
								<span class="total"></span>
							</div>

							<div class="slider-nav"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="uber-uns">
		<div class="container">
			<span class="sect-mark">Über uns</span>
			<div class="title-wrap">
				<h2>Es geht um Zahlen, <br> aber am Ende zählt ein Lächeln</h2>
			</div>

			<div class="content-wrap">
				<div class="uber-descr">
					<p class="text-hidden line-clamp p-width-limit">Wer wie wir in Finance oder im Einkauf arbeitet, hat sich irgendwann aus Faszination für Zahlen dafür entschieden. Aber niemand muss sich damit abgeben, dass der Job trocken und ungeliebt sein kann. Wer wie wir in Finance oder im Einkauf arbeitet, hat sich irgendwann aus Faszination für Zahlen dafür entschieden. Aber niemand muss sich damit abgeben, dass der Job trocken und ungeliebt sein kann. Wer wie wir in Finance oder im Einkauf arbeitet, hat sich irgendwann aus Faszination für Zahlen dafür entschieden. Aber niemand muss sich damit abgeben, dass der Job trocken und ungeliebt sein kann Wer wie wir in Finance oder im Einkauf arbeitet, hat sich irgendwann aus Faszination für Zahlen dafür entschieden.</p>
					<a href="#" class="more-btn">Mehr lesen</a>
				</div>
				<div class="img-wrap img-wrap-desktop">
					<img src="web/img/main-page/hivebuy-about-us-team.jpg" alt="our team">
				</div>
				<div class="img-wrap img-wrap-mobile">
					<img src="web/img/main-page/hivebuy-about-us-team-mobile.png" alt="our team">
				</div>
			</div>
		</div>
	</section>

	<section id="karriere">
		<div class="container">
			<span class="sect-mark">Karriere</span>
			<div class="title-wrap">
				<h2>Hi, du könntest genau <br> der/die/das Richtige sein</h2>
			</div>
			<div class="content-wrap">
				<p class="p-width-limit">
					Exzellente Tools entstehen mit exzellenten Köpfen. Bring dich mit ein und gestalte die Beschaffungswelt mit uns ein bisschen freundlicher.
				</p>

				<div class="job-wrap">
					<div class="job-row">
						<div class="job-text">Working Student Sales Business Development or Marketing, m / w / x</div>
						<a href="https://hivebuy.join.com/jobs/3466613-working-student-sales-business-development-or-marketing" class="job-links">Details ansehen</a>
						<a href="https://hivebuy.join.com/jobs/3466613-working-student-sales-business-development-or-marketing" class="job-links-mobile">Details</a>
					</div>
					<div class="job-row">
						<div class="job-text">Senior Sales Manager, m / w / x</div>
						<a  href="#" class="job-links">Details ansehen</a>
						<a href="#" class="job-links-mobile">Details</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="dashboard-page bottom-page">
		<div class="container">
			<span class="sect-mark">Demo anfragen</span>
			<div class="bg-figure bg-figure-l-green">
				<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
			</div>
			<div class="bg-figure bg-figure-r-green">
				<img src="web/img/_style/_svg/bg_elements/green.svg" alt="figure">
			</div>
			<div class="bg-figure bg-figure-r-plum">
				<img src="web/img/_style/_svg/bg_elements/plum.svg" alt="figure">
			</div>
			<div class="content-wrap">
				<h2>In einem Hive wissen alle, <br> was zu tun ist, weil alle <br> Bescheid wissen</h2>
				<div class="dashboard-wrap">
					<div class="bg-figure arrow-figure">
						<img src="web/img/_style/_svg/hivebuy-arrow.svg" alt="figure">
					</div>
					<div class="img-wrap human-figure">
						<img src="web/img/main-page/hivebuy-demo2-theeaseofspending.svg" alt="standing man">
					</div>
					<div class="img-wrap macbook-figure">
						<img src="web/img/_style/_svg/hivebuy-device-macbook.svg" alt="figure">
						<div class="img-wrap">
							<img src="web/img/main-page/hivebuy-ui-product-workflow.png" alt="ui preview">
						</div>
					</div>
				</div>
			</div>
			<div class="btn-wrap">
				<a href="https://calendly.com/hivebuy-sales/hivebuy-demo-sales" class="btn with-arrow"><span>Demo anfragen</span></a>
			</div>
		</div>
	</section>



</main><!-- home-wrap END -->

{% endblock %}
