@charset "UTF-8";
i[class*="-ic"] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}

/* Mandatory formats .TTF, .EOT и .WOFF2 */
@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Inter-Regular/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular/Inter-Regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "Inter-Medium";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Inter-Medium/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Medium/Inter-Medium.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "SourceSerifPro-Regular";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSerifPro-Regular/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-Regular/SourceSerifPro-Regular.ttf") format("truetype"), url("../fonts/SourceSerifPro-Regular/SourceSerifPro-Regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "SourceSerifPro-Italic";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSerifPro-Italic/SourceSerifPro-Italic.woff2") format("woff2"), url("../fonts/SourceSerifPro-Italic/SourceSerifPro-Italic.ttf") format("truetype"), url("../fonts/SourceSerifPro-Italic/SourceSerifPro-Italic.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "SourceSerifPro-Bold";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSerifPro-Bold/SourceSerifPro-Bold.woff2") format("woff2"), url("../fonts/SourceSerifPro-Bold/SourceSerifPro-Bold.ttf") format("truetype"), url("../fonts/SourceSerifPro-Bold/SourceSerifPro-Bold.eot?#iefix") format("embedded-opentype");
}

/* Title */
h1, .h1-title, h2, .h2-title, h3, .h3-title, h4, .h4-title, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #000;
  font-family: 'Inter-Regular', sans-serif;
}

h1, .h1-title {
  font-size: 90px;
  line-height: 1.1;
}

h2, .h2-title {
  font-size: 50px;
  line-height: 1.35;
}

h3, .h3-title {
  font-size: 26px;
  line-height: 1.35;
}

h4, .h4-title {
  font-size: 18px;
  line-height: 1.5;
}

.string-limit span {
  margin: 0 !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.txt-box p,
.txt-box ul,
.txt-box ol,
.txt-box img,
.txt-box table {
  margin-bottom: 20px;
  margin-bottom: 1.5em;
}

.txt-box img {
  display: block;
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

.txt-box ol {
  padding-left: 20px;
}

.txt-box ol li {
  list-style-type: decimal;
}

.txt-box ul li {
  position: relative;
  padding-left: 20px;
}

.txt-box ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  width: 10px;
  height: 2px;
  background-color: #243119;
}

.txt-box h1:not([class]), .txt-box .h1-title:not([class]),
.txt-box h2:not([class]),
.txt-box .h2-title:not([class]),
.txt-box h3:not([class]),
.txt-box .h3-title:not([class]),
.txt-box h4:not([class]),
.txt-box .h4-title:not([class]),
.txt-box h5:not([class]),
.txt-box h6:not([class]) {
  display: block;
  font-weight: normal;
  margin-bottom: 25px;
}

.txt-box h1, .txt-box .h1-title {
  font-size: 40px;
}

.txt-box h2, .txt-box .h2-title {
  font-size: 35px;
}

.txt-box h3, .txt-box .h3-title {
  font-size: 25px;
}

.txt-box h4, .txt-box .h4-title {
  font-size: 22px;
}

.txt-box h5 {
  font-size: 20px;
}

.txt-box h6 {
  font-size: 20px;
}

.txt-box a:not([class]) {
  text-decoration: underline;
  color: #9E4770;
}

/* Clearfix */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.before,
.after {
  position: absolute;
  content: "";
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  outline: none !important;
  cursor: pointer;
  color: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

ol,
ul,
li,
form {
  padding: 0;
  margin: 0;
}

label {
  font-weight: normal;
}

.hidden {
  display: none;
}

@-webkit-keyframes animation_name {
  0% {
  }
  100% {
  }
}

@-moz-keyframes animation_name {
  0% {
  }
  100% {
  }
}

@-o-keyframes animation_name {
  0% {
  }
  100% {
  }
}

@keyframes animation_name {
  0% {
  }
  100% {
  }
}

.example-class {
  -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  -moz-transition: .25s ease;
  transition: .25s ease;
}

.example-class:nth-child(1) {
  -webkit-transition-delay: 0.15s !important;
     -moz-transition-delay: 0.15s !important;
       -o-transition-delay: 0.15s !important;
          transition-delay: 0.15s !important;
}

.example-class:nth-child(2) {
  -webkit-transition-delay: 0.3s !important;
     -moz-transition-delay: 0.3s !important;
       -o-transition-delay: 0.3s !important;
          transition-delay: 0.3s !important;
}

.example-class:nth-child(3) {
  -webkit-transition-delay: 0.45s !important;
     -moz-transition-delay: 0.45s !important;
       -o-transition-delay: 0.45s !important;
          transition-delay: 0.45s !important;
}

.example-class:nth-child(4) {
  -webkit-transition-delay: 0.6s !important;
     -moz-transition-delay: 0.6s !important;
       -o-transition-delay: 0.6s !important;
          transition-delay: 0.6s !important;
}

.example-class:nth-child(5) {
  -webkit-transition-delay: 0.75s !important;
     -moz-transition-delay: 0.75s !important;
       -o-transition-delay: 0.75s !important;
          transition-delay: 0.75s !important;
}

.example-class:nth-child(6) {
  -webkit-transition-delay: 0.9s !important;
     -moz-transition-delay: 0.9s !important;
       -o-transition-delay: 0.9s !important;
          transition-delay: 0.9s !important;
}

.example-class:nth-child(7) {
  -webkit-transition-delay: 1.05s !important;
     -moz-transition-delay: 1.05s !important;
       -o-transition-delay: 1.05s !important;
          transition-delay: 1.05s !important;
}

.example-class:nth-child(8) {
  -webkit-transition-delay: 1.2s !important;
     -moz-transition-delay: 1.2s !important;
       -o-transition-delay: 1.2s !important;
          transition-delay: 1.2s !important;
}

.example-class:nth-child(9) {
  -webkit-transition-delay: 1.35s !important;
     -moz-transition-delay: 1.35s !important;
       -o-transition-delay: 1.35s !important;
          transition-delay: 1.35s !important;
}

.example-class:nth-child(10) {
  -webkit-transition-delay: 1.5s !important;
     -moz-transition-delay: 1.5s !important;
       -o-transition-delay: 1.5s !important;
          transition-delay: 1.5s !important;
}

.example-class:nth-child(11) {
  -webkit-transition-delay: 1.65s !important;
     -moz-transition-delay: 1.65s !important;
       -o-transition-delay: 1.65s !important;
          transition-delay: 1.65s !important;
}

.example-class:nth-child(12) {
  -webkit-transition-delay: 1.8s !important;
     -moz-transition-delay: 1.8s !important;
       -o-transition-delay: 1.8s !important;
          transition-delay: 1.8s !important;
}

.example-class:nth-child(13) {
  -webkit-transition-delay: 1.95s !important;
     -moz-transition-delay: 1.95s !important;
       -o-transition-delay: 1.95s !important;
          transition-delay: 1.95s !important;
}

.example-class:nth-child(14) {
  -webkit-transition-delay: 2.1s !important;
     -moz-transition-delay: 2.1s !important;
       -o-transition-delay: 2.1s !important;
          transition-delay: 2.1s !important;
}

.example-class:nth-child(15) {
  -webkit-transition-delay: 2.25s !important;
     -moz-transition-delay: 2.25s !important;
       -o-transition-delay: 2.25s !important;
          transition-delay: 2.25s !important;
}

@-webkit-keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  40% {
    -webkit-transform: translate(-18px, -50%);
            transform: translate(-18px, -50%);
  }
  50% {
    -webkit-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }
  60% {
    -webkit-transform: translate(-10px, -50%);
            transform: translate(-10px, -50%);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 80%, 100% {
    -moz-transform: translate(0, -50%);
         transform: translate(0, -50%);
  }
  40% {
    -moz-transform: translate(-18px, -50%);
         transform: translate(-18px, -50%);
  }
  50% {
    -moz-transform: translate(5px, -50%);
         transform: translate(5px, -50%);
  }
  60% {
    -moz-transform: translate(-10px, -50%);
         transform: translate(-10px, -50%);
  }
}

@-o-keyframes bounce {
  0%, 20%, 80%, 100% {
    -o-transform: translate(0, -50%);
       transform: translate(0, -50%);
  }
  40% {
    -o-transform: translate(-18px, -50%);
       transform: translate(-18px, -50%);
  }
  50% {
    -o-transform: translate(5px, -50%);
       transform: translate(5px, -50%);
  }
  60% {
    -o-transform: translate(-10px, -50%);
       transform: translate(-10px, -50%);
  }
}

@keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  40% {
    -webkit-transform: translate(-18px, -50%);
       -moz-transform: translate(-18px, -50%);
         -o-transform: translate(-18px, -50%);
            transform: translate(-18px, -50%);
  }
  50% {
    -webkit-transform: translate(5px, -50%);
       -moz-transform: translate(5px, -50%);
         -o-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }
  60% {
    -webkit-transform: translate(-10px, -50%);
       -moz-transform: translate(-10px, -50%);
         -o-transform: translate(-10px, -50%);
            transform: translate(-10px, -50%);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(20%, 0);
         transform: translate(20%, 0);
  }
  100% {
    -moz-transform: translate(-100%, 0);
         transform: translate(-100%, 0);
  }
}

@-o-keyframes scroll {
  0% {
    -o-transform: translate(20%, 0);
       transform: translate(20%, 0);
  }
  100% {
    -o-transform: translate(-100%, 0);
       transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(20%, 0);
       -moz-transform: translate(20%, 0);
         -o-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
       -moz-transform: translate(-100%, 0);
         -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.btn-top {
  position: absolute;
  z-index: 9999;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #FBFAF7;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background-image: url("../img/_style/_svg/btn-top.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.25);
     -moz-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.25);
  opacity: 0;
}

.btn-top.on {
  opacity: 1;
}

.toggle-btn {
  position: fixed;
  display: block;
  z-index: 1100;
  right: 6vw;
  top: 50px;
  width: 70px;
  height: 70px;
  background-color: #FBFAF7;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none !important;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: rgba(60, 60, 59, 0.15) 0px 0px 20px;
     -moz-box-shadow: rgba(60, 60, 59, 0.15) 0px 0px 20px;
          box-shadow: rgba(60, 60, 59, 0.15) 0px 0px 20px;
}

.toggle-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 50%;
  height: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.toggle-btn span::after, .toggle-btn span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: .5s ease all;
  -o-transition: .5s ease all;
  -moz-transition: .5s ease all;
  transition: .5s ease all;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.toggle-btn span:after {
  top: 6px;
}

.toggle-btn.on {
  background-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.toggle-btn.on span::before {
  background-color: #fff;
  -webkit-transform: rotate(45deg) translate(4px, 4px);
     -moz-transform: rotate(45deg) translate(4px, 4px);
      -ms-transform: rotate(45deg) translate(4px, 4px);
       -o-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}

.toggle-btn.on span::after {
  background-color: #fff;
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
     -moz-transform: rotate(-45deg) translate(4px, -4px);
      -ms-transform: rotate(-45deg) translate(4px, -4px);
       -o-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

.btn-sub-mnu {
  border: none;
  background-color: transparent;
  outline: none !important;
  display: none;
}

.btn, .btn-mobile {
  display: inline-block;
  position: relative;
  min-width: 100px;
  padding: 0;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #8a375e;
}

.btn span, .btn-mobile span {
  position: relative;
  z-index: 5;
  padding: 13px 16px 13px 18px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn::before, .btn-mobile::before, .btn::after, .btn-mobile::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.btn::before, .btn-mobile::before {
  background: -webkit-linear-gradient(162deg, #9e4770, #5c164e);
  background: -moz-linear-gradient(162deg, #9e4770, #5c164e);
  background: -o-linear-gradient(162deg, #9e4770, #5c164e);
  background: linear-gradient(288deg, #9e4770, #5c164e);
}

.btn::after, .btn-mobile::after {
  background: -webkit-linear-gradient(162deg, #8a375e, #400f36);
  background: -moz-linear-gradient(162deg, #8a375e, #400f36);
  background: -o-linear-gradient(162deg, #8a375e, #400f36);
  background: linear-gradient(288deg, #8a375e, #400f36);
  opacity: 0;
}

.btn:hover, .btn-mobile:hover {
  color: #fff;
  text-decoration: none;
}

.btn:hover::before, .btn-mobile:hover::before {
  opacity: 0;
}

.btn:hover::after, .btn-mobile:hover::after {
  opacity: 1;
}

.btn.with-arrow span::before, .with-arrow.btn-mobile span::before {
  content: '\2192';
  display: block;
  position: absolute;
  width: 14px;
  height: 17px;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  font-family: 'Inter-Regular', sans-serif;
}

.btn.with-arrow:hover span::before, .with-arrow.btn-mobile:hover span::before {
  -webkit-animation: bounce 2s infinite;
     -moz-animation: bounce 2s infinite;
       -o-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@keyframes animation_name {
  0% {
  }
  100% {
  }
}

.example-class {
  -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  -moz-transition: .25s ease;
  transition: .25s ease;
}

.example-class:nth-child(1) {
  -webkit-transition-delay: 0.15s !important;
     -moz-transition-delay: 0.15s !important;
       -o-transition-delay: 0.15s !important;
          transition-delay: 0.15s !important;
}

.example-class:nth-child(2) {
  -webkit-transition-delay: 0.3s !important;
     -moz-transition-delay: 0.3s !important;
       -o-transition-delay: 0.3s !important;
          transition-delay: 0.3s !important;
}

.example-class:nth-child(3) {
  -webkit-transition-delay: 0.45s !important;
     -moz-transition-delay: 0.45s !important;
       -o-transition-delay: 0.45s !important;
          transition-delay: 0.45s !important;
}

.example-class:nth-child(4) {
  -webkit-transition-delay: 0.6s !important;
     -moz-transition-delay: 0.6s !important;
       -o-transition-delay: 0.6s !important;
          transition-delay: 0.6s !important;
}

.example-class:nth-child(5) {
  -webkit-transition-delay: 0.75s !important;
     -moz-transition-delay: 0.75s !important;
       -o-transition-delay: 0.75s !important;
          transition-delay: 0.75s !important;
}

.example-class:nth-child(6) {
  -webkit-transition-delay: 0.9s !important;
     -moz-transition-delay: 0.9s !important;
       -o-transition-delay: 0.9s !important;
          transition-delay: 0.9s !important;
}

.example-class:nth-child(7) {
  -webkit-transition-delay: 1.05s !important;
     -moz-transition-delay: 1.05s !important;
       -o-transition-delay: 1.05s !important;
          transition-delay: 1.05s !important;
}

.example-class:nth-child(8) {
  -webkit-transition-delay: 1.2s !important;
     -moz-transition-delay: 1.2s !important;
       -o-transition-delay: 1.2s !important;
          transition-delay: 1.2s !important;
}

.example-class:nth-child(9) {
  -webkit-transition-delay: 1.35s !important;
     -moz-transition-delay: 1.35s !important;
       -o-transition-delay: 1.35s !important;
          transition-delay: 1.35s !important;
}

.example-class:nth-child(10) {
  -webkit-transition-delay: 1.5s !important;
     -moz-transition-delay: 1.5s !important;
       -o-transition-delay: 1.5s !important;
          transition-delay: 1.5s !important;
}

.example-class:nth-child(11) {
  -webkit-transition-delay: 1.65s !important;
     -moz-transition-delay: 1.65s !important;
       -o-transition-delay: 1.65s !important;
          transition-delay: 1.65s !important;
}

.example-class:nth-child(12) {
  -webkit-transition-delay: 1.8s !important;
     -moz-transition-delay: 1.8s !important;
       -o-transition-delay: 1.8s !important;
          transition-delay: 1.8s !important;
}

.example-class:nth-child(13) {
  -webkit-transition-delay: 1.95s !important;
     -moz-transition-delay: 1.95s !important;
       -o-transition-delay: 1.95s !important;
          transition-delay: 1.95s !important;
}

.example-class:nth-child(14) {
  -webkit-transition-delay: 2.1s !important;
     -moz-transition-delay: 2.1s !important;
       -o-transition-delay: 2.1s !important;
          transition-delay: 2.1s !important;
}

.example-class:nth-child(15) {
  -webkit-transition-delay: 2.25s !important;
     -moz-transition-delay: 2.25s !important;
       -o-transition-delay: 2.25s !important;
          transition-delay: 2.25s !important;
}

@keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  40% {
    -webkit-transform: translate(-18px, -50%);
       -moz-transform: translate(-18px, -50%);
         -o-transform: translate(-18px, -50%);
            transform: translate(-18px, -50%);
  }
  50% {
    -webkit-transform: translate(5px, -50%);
       -moz-transform: translate(5px, -50%);
         -o-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }
  60% {
    -webkit-transform: translate(-10px, -50%);
       -moz-transform: translate(-10px, -50%);
         -o-transform: translate(-10px, -50%);
            transform: translate(-10px, -50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(20%, 0);
       -moz-transform: translate(20%, 0);
         -o-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
       -moz-transform: translate(-100%, 0);
         -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.hidden {
  display: none !important;
}

.cover-img {
  position: relative;
  display: block;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  overflow: hidden;
  background-color: #eee;
}

.cover-img img {
  margin: 0 !important;
}

.cover-img .base-img {
  display: block;
  position: relative;
  width: 100% !important;
  height: auto !important;
  opacity: 0;
}

.cover-img .main-img {
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-calc(100% + 2px);
  width: -moz-calc(100% + 2px);
  width: calc(100% + 2px);
  height: -webkit-calc(100% + 2px);
  height: -moz-calc(100% + 2px);
  height: calc(100% + 2px);
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'SourceSerifPro-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.5px;
  font-weight: normal;
  color: #243119;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  background-color: #FBFAF7;
}

body.modal-open {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

body.mnu-open {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

body.mnu-open .wrapper {
  position: relative;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.home-wrap > section,
.page-wrap > section {
  max-width: 100vw !important;
}

/* footer on bottom */
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.layout {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 200px;
}

.int-expl .wrapper {
  display: block;
}

/* footer on bottom END */
.modal {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.modal .modal-dialog {
  margin-left: auto !important;
  margin-right: auto !important;
}

.modal-top {
  height: 25px;
}

.modal-top .close {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/_style/_svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  cursor: pointer;
  outline: none !important;
  -webkit-background-size: 20px 20px;
     -moz-background-size: 20px;
       -o-background-size: 20px;
          background-size: 20px;
}

.modal-top .close:hover {
  opacity: .75;
}

.modal-body {
  text-align: center;
}

.modal-title {
  margin-bottom: 25px;
}

/* ================= Header ================= */
/*============= hover-dropdown =============*/
.hover-dropdown {
  overflow: hidden;
  position: relative;
  z-index: 9999;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hover-dropdown .arr-dn-ic {
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.hover-dropdown.hover {
  overflow: visible;
  z-index: 99999;
}

.hover-dropdown.hover .arr-dn-ic {
  -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.hover-dropdown-btn {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.hover-dropdown-btn span {
  display: inline-block;
  vertical-align: middle;
}

.hover-dropdown-box {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 100%;
  line-height: 1em;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
  transition: .5s ease;
  margin-top: -5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.hover-dropdown-box ul {
  white-space: nowrap;
  color: #243119;
}

.hover .hover-dropdown-box {
  margin-top: 0;
  opacity: 1;
  overflow: visible;
  max-height: none;
}

/*============= hover-dropdown END =============*/
.main-head, .inner-head {
  color: inherit;
  height: 66px;
}

.main-head .back-btn, .inner-head .back-btn {
  display: none;
}

.inner-head .mnu-wrap,
.inner-head .btn,
.inner-head .btn-mobile,
.inner-head .btn-mobile {
  display: none;
}

.inner-head .back-btn {
  position: relative;
  display: block;
  margin-right: 25px;
  padding-left: 25px;
  color: #9E4770;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.inner-head .back-btn::before {
  content: '↓';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-40%) rotate(90deg);
     -moz-transform: translateY(-40%) rotate(90deg);
      -ms-transform: translateY(-40%) rotate(90deg);
       -o-transform: translateY(-40%) rotate(90deg);
          transform: translateY(-40%) rotate(90deg);
  width: 15px;
  height: 17px;
  line-height: 17px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  color: #9E4770;
}

.inner-head .back-btn:hover {
  color: #5C164E;
  text-decoration: none;
}

.inner-head .back-btn:hover::before {
  color: #5C164E;
}

.inner-head .logo-wrap {
  margin: 16px 0 16px 20px;
}

.head-top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  min-width: 320px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #FBFAF7;
}

.head-line {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-line .btn span, .head-line .btn-mobile span {
  padding: 23px 26px 26px 50px;
}

.head-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-cell.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo-wrap {
  display: block;
  width: 150px;
  cursor: pointer;
  margin-left: 20px;
}

.logo-wrap img {
  display: block;
  width: 100%;
}

.main-mnu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

.main-mnu > li {
  list-style: none;
  margin-right: 41px;
}

@keyframes animation_name {
  0% {
  }
  100% {
  }
}

.example-class {
  -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  -moz-transition: .25s ease;
  transition: .25s ease;
}

.example-class:nth-child(1) {
  -webkit-transition-delay: 0.15s !important;
     -moz-transition-delay: 0.15s !important;
       -o-transition-delay: 0.15s !important;
          transition-delay: 0.15s !important;
}

.example-class:nth-child(2) {
  -webkit-transition-delay: 0.3s !important;
     -moz-transition-delay: 0.3s !important;
       -o-transition-delay: 0.3s !important;
          transition-delay: 0.3s !important;
}

.example-class:nth-child(3) {
  -webkit-transition-delay: 0.45s !important;
     -moz-transition-delay: 0.45s !important;
       -o-transition-delay: 0.45s !important;
          transition-delay: 0.45s !important;
}

.example-class:nth-child(4) {
  -webkit-transition-delay: 0.6s !important;
     -moz-transition-delay: 0.6s !important;
       -o-transition-delay: 0.6s !important;
          transition-delay: 0.6s !important;
}

.example-class:nth-child(5) {
  -webkit-transition-delay: 0.75s !important;
     -moz-transition-delay: 0.75s !important;
       -o-transition-delay: 0.75s !important;
          transition-delay: 0.75s !important;
}

.example-class:nth-child(6) {
  -webkit-transition-delay: 0.9s !important;
     -moz-transition-delay: 0.9s !important;
       -o-transition-delay: 0.9s !important;
          transition-delay: 0.9s !important;
}

.example-class:nth-child(7) {
  -webkit-transition-delay: 1.05s !important;
     -moz-transition-delay: 1.05s !important;
       -o-transition-delay: 1.05s !important;
          transition-delay: 1.05s !important;
}

.example-class:nth-child(8) {
  -webkit-transition-delay: 1.2s !important;
     -moz-transition-delay: 1.2s !important;
       -o-transition-delay: 1.2s !important;
          transition-delay: 1.2s !important;
}

.example-class:nth-child(9) {
  -webkit-transition-delay: 1.35s !important;
     -moz-transition-delay: 1.35s !important;
       -o-transition-delay: 1.35s !important;
          transition-delay: 1.35s !important;
}

.example-class:nth-child(10) {
  -webkit-transition-delay: 1.5s !important;
     -moz-transition-delay: 1.5s !important;
       -o-transition-delay: 1.5s !important;
          transition-delay: 1.5s !important;
}

.example-class:nth-child(11) {
  -webkit-transition-delay: 1.65s !important;
     -moz-transition-delay: 1.65s !important;
       -o-transition-delay: 1.65s !important;
          transition-delay: 1.65s !important;
}

.example-class:nth-child(12) {
  -webkit-transition-delay: 1.8s !important;
     -moz-transition-delay: 1.8s !important;
       -o-transition-delay: 1.8s !important;
          transition-delay: 1.8s !important;
}

.example-class:nth-child(13) {
  -webkit-transition-delay: 1.95s !important;
     -moz-transition-delay: 1.95s !important;
       -o-transition-delay: 1.95s !important;
          transition-delay: 1.95s !important;
}

.example-class:nth-child(14) {
  -webkit-transition-delay: 2.1s !important;
     -moz-transition-delay: 2.1s !important;
       -o-transition-delay: 2.1s !important;
          transition-delay: 2.1s !important;
}

.example-class:nth-child(15) {
  -webkit-transition-delay: 2.25s !important;
     -moz-transition-delay: 2.25s !important;
       -o-transition-delay: 2.25s !important;
          transition-delay: 2.25s !important;
}

@keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  40% {
    -webkit-transform: translate(-18px, -50%);
       -moz-transform: translate(-18px, -50%);
         -o-transform: translate(-18px, -50%);
            transform: translate(-18px, -50%);
  }
  50% {
    -webkit-transform: translate(5px, -50%);
       -moz-transform: translate(5px, -50%);
         -o-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }
  60% {
    -webkit-transform: translate(-10px, -50%);
       -moz-transform: translate(-10px, -50%);
         -o-transform: translate(-10px, -50%);
            transform: translate(-10px, -50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(20%, 0);
       -moz-transform: translate(20%, 0);
         -o-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
       -moz-transform: translate(-100%, 0);
         -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.container {
  max-width: 90vw;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.bg-figure {
  position: absolute;
  z-index: 1;
}

.bg-figure img,
.img-wrap img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sect-mark {
  position: absolute;
  top: -4px;
  left: 0;
  color: #9E4770;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 8px;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

section {
  padding: 110px 0;
}

.dashboard-page {
  padding-top: 170px;
}

.dashboard-page .bg-figure-r-plum {
  top: 100px;
  right: 0;
  width: 13.5%;
}

.dashboard-page .bg-figure-r-green {
  top: 20px;
  right: 12vw;
  width: 8.5%;
}

.dashboard-page .content-wrap {
  margin-left: 8.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 91.5%;
}

.dashboard-wrap {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dashboard-wrap .arrow-figure {
  top: 0;
  left: 0;
  width: 5%;
}

.macbook-figure {
  position: absolute;
  bottom: 0;
  left: 19%;
  width: 81%;
  z-index: 10;
}

.macbook-figure .img-wrap {
  position: absolute;
  top: 6.3%;
  left: 5%;
  width: 90%;
}

.human-figure {
  width: 14%;
  margin-left: 6%;
  margin-top: 13.5%;
  opacity: 0.8;
}

.companies-wrap {
  margin: 32px 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 81%;
}

.companies-wrap .img-wrap {
  margin-left: 80px;
}

.companies-wrap .img-wrap:first-child {
  margin-left: 0;
}

.companies-wrap-mobile {
  display: none;
  margin-top: 30px;
  -webkit-animation: scroll 45s infinite linear;
     -moz-animation: scroll 45s infinite linear;
       -o-animation: scroll 45s infinite linear;
          animation: scroll 45s infinite linear;
  width: 500%;
  overflow: hidden;
}

.companies-wrap-mobile .img-wrap {
  margin-left: 35px;
}

.companies-wrap-mobile .img-wrap:first-child {
  margin-left: 0;
}

.title-wrap {
  margin-left: 8.5%;
  width: 74%;
}

.content-wrap {
  margin-left: 17%;
}

.content-wrap p {
  display: block;
  margin: 0;
}

.p-width-limit {
  width: 700px;
}

.funktioniert-wrap p {
  margin-top: 37px;
}

.funktioniert-wrap .width-limit {
  max-width: 100%;
  overflow: auto;
  margin-top: 55px;
}

.funktioniert-wrap .width-limit .img-wrap {
  width: 100%;
}

.funktioniert-wrap .width-limit .mCSB_draggerRail {
  background-color: #9E4770;
  margin: 11px;
  width: 97%;
}

.funktioniert-wrap .width-limit .mCSB_draggerContainer {
  height: 22px;
}

.funktioniert-wrap .width-limit #mCSB_1_dragger_horizontal {
  width: 87px !important;
  height: 22px !important;
  top: 0;
  bottom: 0;
}

.funktioniert-wrap .width-limit .mCSB_dragger_bar {
  background-color: #8a375e !important;
  width: 100% !important;
  height: 100% !important;
  -webkit-border-radius: 4px !important;
     -moz-border-radius: 4px !important;
          border-radius: 4px !important;
  background: url(../img/_style/_svg/slider.svg) center no-repeat;
  margin: 0 !important;
}

.funktioniert-wrap .width-limit #mCSB_1_scrollbar_horizontal {
  height: 22px;
  opacity: 1 !important;
}

.funktioniert-wrap .width-limit #mCSB_1_container .img-wrap {
  margin-bottom: 25px;
}

.vorteil-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.vorteil-row.reverse-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.vorteil-row.reverse-row .vorteil-cell-descr .img-wrap {
  margin: 8px -10% 8px 0;
}

.vorteil-cell {
  position: relative;
  width: 42%;
}

.vorteil-cell .img-wrap {
  width: 100%;
}

.vorteil-cell-descr {
  width: 48%;
}

.vorteil-cell-descr .img-wrap {
  width: 110%;
  margin: 8px 0 8px -10%;
}

.workload .bg-figure-l-plum {
  top: 0;
  left: 0;
  width: 28%;
}

.communication .img-wrap {
  opacity: 0.8;
}

.communication .bg-figure-l-green {
  left: 0;
  top: 30%;
  width: 27%;
}

.communication .bg-figure-r-plum {
  right: 9%;
  top: 0;
  width: 13%;
}

.digitalization .img-wrap {
  opacity: 0.8;
}

.digitalization .bg-figure-l-green {
  left: 10%;
  bottom: 15%;
  width: 13%;
}

.digitalization .bg-figure-r-plum {
  right: 0;
  top: 0;
  width: 27%;
}

.vendors .img-wrap {
  position: relative;
  z-index: 10;
  opacity: 0.8;
}

.vendors .bg-figure-r-green {
  top: 0;
  right: 0;
  width: 37%;
  z-index: 0;
}

.client-slider-wrap {
  margin-top: 53px;
  position: relative;
  z-index: 10;
}

.client-slider-wrap .client-slider-itm {
  padding: 0 5px;
}

.slide-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
  border-top: 1px solid #DFD3EC;
  padding-top: 10px;
}

.paging-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9E4770;
  font-family: 'Inter-Regular', sans-serif;
}

.paging-info-divide {
  margin: 0 5px;
}

.slider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-prev,
.slick-next {
  position: relative;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  outline: none !important;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  background-color: transparent;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  color: #9E4770;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #5c164e;
}

.slick-prev::before,
.slick-next::before {
  content: '\27F5';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: normal;
  font-size: 16px;
  font-family: 'Inter-Regular', sans-serif;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.slick-next {
  margin-left: 35px;
}

.slick-next::before {
  content: '\27F6';
}

.itm-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itm-top .client-photo {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
}

.itm-text {
  margin: 25px 0;
  font-family: 'SourceSerifPro-Italic', sans-serif;
  font-size: 40px;
  line-height: 1.3;
}

.itm-sign {
  font-family: 'Inter-Regular', sans-serif;
  line-height: 1.75;
}

#kunden .bg-figure-r-green {
  top: 105px;
  right: 16%;
  width: 6%;
}

#kunden .bg-figure-r-plum {
  top: 0;
  right: 8%;
  width: 8%;
}

#funktionen .img-wrap {
  position: relative;
  z-index: 10;
}

#funktionen .funktionen-top {
  position: relative;
  margin-top: 53px;
}

#funktionen .mobile-img {
  display: none;
}

#funktionen .mobile-img img {
  opacity: 0.8;
}

#funktionen .desktop-img {
  width: 100%;
}

#funktionen .desktop-img img {
  opacity: 0.8;
}

#funktionen .bg-figure-l-green {
  bottom: 20px;
  left: -9%;
  width: 8%;
}

#funktionen .bg-figure-l-plum {
  bottom: 20%;
  left: 0;
  width: 17%;
}

#funktionen .bg-figure-r-plum {
  top: -21%;
  right: 25%;
  width: 10%;
}

#funktionen .bg-figure-r-green {
  top: 0;
  right: 9%;
  width: 16%;
}

.features-cards-mobile {
  display: none;
}

.features-cards-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -53px;
}

.features-card {
  width: 33.33%;
  margin-top: 40px;
  padding: 0 53px;
}

.card-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #DFD3EC;
}

.card-top .img-wrap {
  width: 32px;
  height: 32px;
}

.card-descr {
  padding-top: 23px;
}

.card-descr p {
  margin-top: 17px;
}

.features-slider-itm {
  padding-top: 19px;
}

.features-slider-itm p {
  margin-top: 15px;
}

#uber-uns p {
  margin-top: 25px;
}

#uber-uns .img-wrap {
  margin-top: 50px;
}

#uber-uns .img-wrap-mobile {
  display: none;
}

#uber-uns .uber-descr {
  margin-top: 25px;
}

#uber-uns .uber-descr .text-hidden {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 90px;
}

#uber-uns .more-btn {
  position: relative;
  display: block;
  margin-top: 24px;
  padding-left: 20px;
  color: #9E4770;
  font-family: 'Inter-Regular', sans-serif;
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#uber-uns .more-btn:hover {
  color: #5c164e;
  text-decoration: none;
}

#uber-uns .more-btn::before {
  content: '\2193';
  position: absolute;
  height: 20px;
  width: 14px;
  font-size: 16px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#uber-uns .more-btn.open::before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
     -moz-transform-origin: center;
      -ms-transform-origin: center;
       -o-transform-origin: center;
          transform-origin: center;
  top: auto;
  bottom: 0;
}

.line-clamp {
  -webkit-line-clamp: 3;
}

.no-line-clamp {
  -webkit-line-clamp: unset;
}

#karriere .content-wrap {
  margin-top: 25px;
}

.job-wrap {
  margin-top: 50px;
}

.job-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #DFD3EC;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  color: #000;
  font-family: 'Inter-Regular', sans-serif;
}

.job-row:first-child {
  border-top: 1px solid #DFD3EC;
}

.job-row:not(:first-child) {
  border-top: 1px solid rgba(223, 211, 236, 0);
  margin-top: -1px;
}

.job-row:hover {
  border-color: #9E4770;
  color: #5C164E;
}

.job-row:hover .job-links, .job-row:hover .job-links-mobile {
  color: #5C164E;
}

.job-row:hover .job-links::before, .job-row:hover .job-links-mobile::before {
  color: #5C164E;
}

.job-text {
  max-width: 72%;
}

.job-links, .job-links-mobile {
  color: #9E4770;
  position: relative;
  text-align: right;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  padding-left: 20px;
}

.job-links::before, .job-links-mobile::before {
  content: '\2192';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: normal;
  font-size: 16px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  color: #9E4770;
}

.job-links:hover, .job-links-mobile:hover {
  text-decoration: none;
}

.job-links-mobile {
  display: none;
}

.bottom-page {
  padding-top: 110px;
  padding-bottom: 150px;
}

.bottom-page .human-figure {
  width: 15%;
  margin-left: 3%;
  margin-top: 16.5%;
}

.bottom-page .bg-figure-l-green {
  bottom: 25%;
  left: 3%;
  width: 9%;
}

.bottom-page .bg-figure-r-plum {
  top: 5%;
  right: 0;
  width: 8%;
}

.bottom-page .bg-figure-r-green {
  top: 15%;
  right: 8%;
  width: 13%;
}

.bottom-page .btn-wrap {
  margin: 50px auto 0 57%;
}

.bottom-page .btn-wrap .btn, .bottom-page .btn-wrap .btn-mobile {
  font-size: 12px;
}

.bottom-page .btn-wrap .btn span, .bottom-page .btn-wrap .btn-mobile span {
  padding: 15px 16px 14px 37px;
}

.bottom-page .btn-wrap .btn span::before, .bottom-page .btn-wrap .btn-mobile span::before {
  left: 15px;
  line-height: normal;
}

.text-section {
  padding: 160px 0;
}

.text-section .title-wrap {
  margin-left: 0;
  margin-bottom: 30px;
}

.text-section .text-block {
  margin-top: 50px;
}

.text-section .text-block a {
  text-decoration: underline;
}

.text-section .text-block a:hover {
  text-decoration: none;
}

.text-section .text-block:first-child {
  margin-top: 0;
}

.text-section .text-block:last-child {
  margin-top: 80px;
}

.text-section .text-block h4, .text-section .text-block .h4-title {
  margin-bottom: 10px;
  color: #243119;
}

.text-section .text-block .block-title {
  font-family: 'SourceSerifPro-Bold', sans-serif;
}

.text-section .datenschutz {
  width: 78%;
}

.text-section .datenschutz .text-block p {
  margin-bottom: 16px;
}

.text-section .datenschutz .text-block:last-child {
  margin-bottom: 0;
}

.text-section .datenschutz .text-block:last-child {
  margin-top: 50px;
}

.main-foot, .inner-foot {
  color: inherit;
  width: 100vw;
  color: #000;
}

.main-foot li, .inner-foot li {
  list-style: none;
}

.footer-wrap {
  border-top: 1px solid #9E4770;
  padding: 98px 0 80px;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-row:last-child {
  margin-top: 150px;
}

.foot-cell {
  width: 335px;
}

.language-swich {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-swich ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  opacity: 0.4;
}

.foot-links,
.language-swich {
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

.foot-links.active a {
  text-decoration: underline;
}

.foot-links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot-links li {
  display: block;
  width: 100%;
}

.foot-links li:not(:first-child) {
  margin-top: 40px;
}

.language-swich a:not(.active-language) {
  opacity: 0.4;
}

.language-swich .active-language {
  text-decoration: underline;
}

.language-swich li {
  margin-left: 10px;
}

.language-swich a:hover {
  opacity: 1;
}

.foot-subscribe p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 12px;
}

.call-wrap a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.call-wrap .img-wrap {
  display: inline-block;
  width: 14px;
  margin-right: 15px;
}

.form-wrap {
  margin-top: 50px;
}

.form-wrap form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrap .btn, .form-wrap .btn-mobile {
  font-size: 11px;
  line-height: 1.25;
  width: 33%;
}

.form-wrap input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  height: 40px;
  width: 67%;
  border: none;
  background-color: rgba(158, 71, 112, 0.08);
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 15px;
  color: #9E4770;
}

.form-wrap input::-webkit-input-placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #9E4770;
}

.form-wrap input:-moz-placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #9E4770;
}

.form-wrap input::-moz-placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #9E4770;
}

.form-wrap input:-ms-input-placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #9E4770;
}

.form-wrap input::-ms-input-placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #9E4770;
}

.form-wrap input::placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #9E4770;
}

/* ========================== Media Queries ========================== */
@media only screen and (max-width: 1580px) {
  .funktioniert-wrap .width-limit .img-wrap {
    width: 1060px;
  }
  .p-width-limit {
    width: 615px;
  }
}

@media only screen and (max-width: 1199px) {
  .dashboard-page:not(.bottom-page) h1, .dashboard-page:not(.bottom-page) .h1-title {
    font-size: 75px;
  }
  .dashboard-page:not(.bottom-page) .bg-figure-r-green {
    width: 10%;
  }
  .companies-wrap .img-wrap {
    margin-left: 60px;
  }
  .title-wrap h2, .title-wrap .h2-title,
  .bottom-page h2,
  .bottom-page .h2-title {
    font-size: 40px;
  }
  #vorteile h3, #vorteile .h3-title {
    font-size: 24px;
  }
  .itm-text {
    font-size: 34px;
  }
  #kunden .bg-figure-r-green {
    top: 85px;
    width: 8%;
  }
  #kunden .bg-figure-r-plum {
    width: 10%;
  }
  .features-cards-wrap {
    margin: 0 -25px;
  }
  .features-card {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding: 70px 0;
  }
  .main-head, .inner-head {
    height: 55px;
  }
  .head-top .btn, .head-top .btn-mobile {
    display: none;
  }
  .head-top .btn-mobile {
    display: block;
    font-size: 13px;
  }
  .head-top .btn-mobile span {
    padding: 18px 21px 20px 37px;
  }
  .head-top .btn-mobile span::before {
    left: 15px;
  }
  .inner-head .btn-mobile {
    display: none;
  }
  .main-mnu > li {
    margin-right: 20px;
  }
  .logo-wrap {
    width: 143px;
  }
  .dashboard-page {
    padding-top: 110px;
  }
  .dashboard-page:not(.bottom-page) .bg-figure-r-plum {
    width: 18%;
  }
  .dashboard-page:not(.bottom-page) .bg-figure-r-green {
    width: 13%;
  }
  .dashboard-page:not(.bottom-page) h1, .dashboard-page:not(.bottom-page) .h1-title {
    font-size: 70px;
  }
  .companies-wrap .img-wrap {
    margin-left: 40px;
  }
  .content-wrap {
    margin-left: 8.5%;
  }
  .title-wrap {
    width: 90%;
  }
  .title-wrap h2, .title-wrap .h2-title {
    font-size: 36px;
  }
  
  .bottom-page h2,
  .bottom-page .h2-title {
    font-size: 36px;
  }
  .funktioniert-wrap .width-limit {
    margin-top: 43px;
  }
  #vorteile h3, #vorteile .h3-title {
    font-size: 22px;
  }
  #vorteile p {
    font-size: 15px;
  }
  .itm-text {
    font-size: 30px;
  }
  #kunden .bg-figure-r-green {
    top: 85px;
    right: 20%;
    width: 11%;
  }
  #kunden .bg-figure-r-plum {
    width: 14%;
  }
  .features-card {
    width: 50%;
    margin-top: 30px;
  }
  .card-top {
    padding-bottom: 15px;
  }
  .card-descr {
    padding-top: 15px;
  }
  .card-descr p {
    margin-top: 12px;
  }
  .itm-top .client-photo {
    width: 90px;
    height: 90px;
  }
  .itm-top .client-company {
    text-align: right;
  }
  .itm-top .client-company img {
    display: inline-block;
    width: 80%;
  }
  .itm-text {
    margin: 21px 0;
  }
  .bottom-page .bg-figure-r-plum {
    top: 15%;
  }
  .bottom-page .bg-figure-r-green {
    top: 25%;
  }
  .bottom-page .btn-wrap {
    text-align: center;
    margin: 40px auto 0;
  }
  .footer-wrap {
    padding: 42px 0 70px;
  }
  .footer-row:last-child {
    margin-top: 70px;
  }
  .text-section {
    padding: 120px 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-mnu {
    display: none;
  }
  .dashboard-page:not(.bottom-page) h1, .dashboard-page:not(.bottom-page) .h1-title {
    font-size: 60px;
  }
  .companies-wrap {
    display: none;
  }
  .companies-wrap-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-width-limit {
    width: 100%;
  }
  .vorteil-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .vorteil-cell,
  .vorteil-cell-descr {
    width: 100%;
  }
  .vorteil-cell-descr {
    margin-top: 20px;
  }
  .vorteil-cell-descr .img-wrap {
    display: none;
  }
  .vorteil-cell-descr h3, .vorteil-cell-descr .h3-title {
    padding-bottom: 19px;
    border-bottom: 1px solid #DFD3EC;
  }
  .vorteil-cell-descr p {
    padding-top: 19px;
  }
  #funktionen .features-cards-wrap,
  #funktionen .desktop-img {
    display: none;
  }
  #funktionen .mobile-img,
  #funktionen .features-cards-mobile {
    display: block;
  }
  #funktionen .bg-figure-l-green {
    left: -10%;
    width: 10%;
  }
  #funktionen .bg-figure-l-plum {
    width: 30%;
  }
  #funktionen .bg-figure-r-plum,
  #funktionen .bg-figure-r-green {
    display: none;
  }
  #funktionen .funktionen-top {
    margin-top: 42px;
  }
  .features-cards-mobile {
    margin-top: 20px;
  }
  #uber-uns .text-hidden,
  #uber-uns .more-btn {
    font-size: 15px;
  }
  #uber-uns .more-btn {
    margin-top: 20px;
    padding-left: 16px;
  }
  #uber-uns .more-btn::before {
    height: 16px;
    left: -6px;
  }
  .job-row {
    font-size: 15px;
  }
  .job-links, .job-links-mobile {
    display: none;
  }
  .job-links-mobile {
    display: block;
  }
  .title-404 h1, .title-404 .h1-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 576px) {
  section {
    padding: 60px 0;
  }
  .dashboard-page {
    padding-top: 90px;
  }
  .dashboard-page .content-wrap {
    width: 570px;
    margin-left: 0;
  }
  .dashboard-page:not(.bottom-page) .bg-figure-r-plum {
    width: 30%;
    right: -19vw;
    top: 0;
  }
  .dashboard-page:not(.bottom-page) .bg-figure-r-green {
    width: 20%;
    top: -55px;
    right: 7vw;
  }
  .dashboard-page:not(.bottom-page) h1, .dashboard-page:not(.bottom-page) .h1-title {
    font-size: 50px;
  }
  .human-figure {
    margin-left: 20px;
    width: 13%;
  }
  .macbook-figure {
    left: 15%;
  }
  .sect-mark {
    display: block;
    position: static;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .content-wrap,
  .title-wrap {
    margin-left: 0;
  }
  .title-wrap {
    width: 100%;
  }
  .title-wrap h2, .title-wrap .h2-title,
  .bottom-page h2,
  .bottom-page .h2-title {
    font-size: 32px;
    width: 90vw;
  }
  .title-wrap br,
  .bottom-page br {
    display: none;
  }
  .funktioniert-wrap p {
    margin-top: 26px;
  }
  .client-slider-wrap {
    margin-top: 42px;
  }
  .slide-controls {
    margin-top: 33px;
  }
  .slick-prev::before,
  .slick-next::before {
    font-size: 15px !important;
  }
  .slick-next {
    margin-left: 20px !important;
  }
  .itm-text {
    font-size: 25px;
    margin: 15px 0;
  }
  .itm-sign,
  .paging-info {
    font-size: 15px;
  }
  #kunden .bg-figure-r-green {
    top: 140px;
    right: 20%;
    width: 15%;
  }
  #kunden .bg-figure-r-plum {
    top: 70px;
    right: 0;
    width: 21%;
  }
  #uber-uns .img-wrap {
    margin-top: 40px;
    width: 100vw;
    margin-left: -5.5vw;
  }
  #uber-uns .img-wrap-desktop {
    display: none;
  }
  #uber-uns .img-wrap-mobile {
    display: block;
  }
  .bottom-page {
    padding-bottom: 140px;
  }
  .bottom-page .human-figure {
    margin-left: 0;
  }
  .bottom-page .bg-figure-l-green {
    display: none;
  }
  .bottom-page .bg-figure-r-plum {
    top: 23%;
    right: -14%;
    width: 16%;
  }
  .bottom-page .bg-figure-r-green {
    top: 31%;
    right: 0;
    width: 28%;
  }
  .footer-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer-row:last-child {
    margin-top: 30px;
  }
  .foot-cell {
    width: 100%;
  }
  .foot-subscribe {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 50px;
    border-bottom: 1px solid #9E4770;
  }
  .foot-subscribe p, .foot-subscribe a {
    font-size: 18px;
  }
  .foot-subscribe .img-wrap {
    width: 12px;
    margin-right: 10px;
  }
  .form-wrap {
    margin-top: 34px;
  }
  .foot-links {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
  }
  .foot-links ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .foot-links ul li {
    width: 50%;
    margin: 10px 0 !important;
  }
  .language-swich {
    padding-bottom: 40px;
    border-bottom: 1px solid #9E4770;
  }
  .copyright {
    margin-top: 40px;
  }
  .inner-head .logo-wrap {
    margin: 11px 0 11px 20px;
  }
  .inner-head .back-btn {
    font-size: 13px;
    padding-left: 20px;
  }
  .inner-head .back-btn::before {
    -webkit-transform: translateY(-40%) rotate(90deg);
       -moz-transform: translateY(-40%) rotate(90deg);
        -ms-transform: translateY(-40%) rotate(90deg);
         -o-transform: translateY(-40%) rotate(90deg);
            transform: translateY(-40%) rotate(90deg);
  }
  .text-section {
    padding: 80px 0;
  }
  .text-section .title-wrap {
    margin-bottom: 20px;
  }
  .text-section .text-block {
    margin-top: 40px;
  }
  .text-section .text-block:last-child {
    margin-top: 60px;
  }
  .text-section .text-block p, .text-section .text-block a {
    font-size: 15px;
  }
  .text-section .datenschutz {
    width: 100%;
  }
}

.slick-prev::before,
.slick-next::before {
  font-size: 16px;
}

.slick-next {
  margin-left: 30px;
}

@media only screen and (min-width: 769px) {
  .btn-mobile {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .btn-top {
    display: none !important;
  }
  .text-block.with-br br {
    display: none;
  }
}

@media only screen and (min-width: 1650px) {
  .container {
    max-width: 1440px;
  }
  .main-mnu {
    font-size: 16px;
  }
  .main-mnu > li {
    margin-right: 50px;
  }
  .btn, .btn-mobile {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1439px) {
  .width-limit .mCSB_draggerContainer {
    display: none;
  }
}
