<!DOCTYPE html>
<html lang="en">
{% include "head.twig" %}
<body>
	<div class="preloader"></div>

	<div class="wrapper">
		<header class="main-head">
			{% include "header.twig" %}
		</header><!-- header END -->

		<div class="layout">
			{% block page %}{% endblock %}
		</div><!-- layout -->

		<footer class="main-foot">
			{% include "footer.twig" %}
		</footer><!-- footer END -->

		{% include "modal-set.twig" %}

		<div class="loaded"></div>
		<div class="btn-top"></div>
	</div><!-- wrapper END -->

	{% include "foot_scripts.twig" %}
</body>
</html>
