<div class="container">
	<div class="footer-wrap">
		<div class="footer-row">
			<div class="foot-cell foot-links">
				<ul>
					<li><a href="https://calendly.com/hivebuy-sales/hivebuy-demo-sales">Demo anfragen</a></li>
					<li><a href="https://app.hivebuy.de/">Login</a></li>
					<li><a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fhivebuy%2F%2522">LinkedIn</a></li>
					<li><a href="datenschutz.html">Datenschutz</a></li>
					<li><a href="impressum.html">Impressum</a></li>
				</ul>
			</div>
			<div class="foot-cell foot-subscribe">
				<div class="call-wrap">
					<p>Sie haben Fragen – wir beraten schnell und unverbindlich:</p>
					<a href="tel:+490301234567"><i class="img-wrap"><img src="web/img/_style/_svg/icon-call.svg" alt="phone icon"></i>+49 (0)30 123 456 7</a>
				</div>
				<div class="form-wrap">
					<p>Immer die aktuellsten News rund um unser Produkt erhalten:</p>
					<form action="#">
						<input type="email" name="mail" placeholder="Deine E-Mail">
						<button class="btn"><span>Anmelden</span></button>
					</form>
				</div>
			</div>
		</div>
		<div class="footer-row">
			<div class="foot-cell language-swich">
				<i><img src="web/img/_style/_svg/world.svg" alt="world icon"></i>
				<ul>
					<li><a href="#" class="active-language">Deutsch</a></li>
					<li><a href="#">English</a></li>
				</ul>
			</div>
			<div class="foot-cell copyright">
				<span>&copy; 2021 Hivebuy eine Marke der Sumerai GmbH</span>
			</div>
		</div>
	</div>
</div>
