{% set rel = "stylesheet" %}
{# {% include "libs.twig" %} #}


<!-- Libs styles -->
<link rel="{{ rel }}" href="web/libs/bootstrap-4.1.3/css/bootstrap-grid.min.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/libs/bootstrap-4.1.3/css/bootstrap.min.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/libs/slick-1.6.0/slick/slick.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/libs/cust-scrollbar/jquery.mCustomScrollbar.min.css" {{ linkType }}>

<!-- Main styles -->
<link rel="{{ rel }}" href="web/css/style.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/css/fixes_css.css" {{ linkType }}>


<!-- Scripts -->
<script src="web/libs/jquery-3.3.1/jquery-3.3.1.min.js" defer></script>
<script src="web/libs/jquery-3.3.1/jquery-migrate.min.js" defer></script>
<script src="web/libs/bowser-master/src/bowser.min.js" defer></script>
<script src="web/libs/bootstrap-4.1.3/js/bootstrap.min.js" defer></script>
<script src="web/libs/slick-1.6.0/slick/slick.min.js" defer></script>
<script src="web/libs/cust-scrollbar/jquery.mCustomScrollbar.min.js" defer></script>
<script src="web/libs/pagescroll2id/pagescroll2id.min.js" defer></script>
<script src="web/libs/jquery.appear/index.js" defer></script>

<script src="web/libs/parallax-div/anime.js/lib/anime.min.js" defer></script>
<script src="web/libs/parallax-div/ScrollMagic.js" defer></script>
<script src="web/libs/parallax-div/debug.addIndicators.js" defer></script>


<script src="web/js/app.js" defer></script>
