<div class="head-top">
	<div class="head-line">
		<div class="head-cell left">
			<div class="logo-wrap">
				<a href="/" class="logo"><img src="web/img/logo.svg" alt="logo"></a>
			</div>
		</div>

		<div class="head-cell right">
			{% include "menu-main.twig" %}
			<a href="https://calendly.com/hivebuy-sales/hivebuy-demo-sales" class="btn with-arrow"><span>Demo anfragen</span></a>
			<a href="https://calendly.com/hivebuy-sales/hivebuy-demo-sales" class="btn-mobile with-arrow"><span>Demo</span></a>
			<a href="/" class="back-btn">zurück</a>
		</div>
	</div>

</div>
