<!-- Libs -->
<link rel="{{ rel }}" href="web/libs/bootstrap-4.1.3/css/bootstrap-grid.min.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/libs/bootstrap-4.1.3/css/bootstrap.min.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/libs/slick-1.6.0/slick/slick.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/libs/cust-scrollbar/jquery.mCustomScrollbar.min.css" {{ linkType }}>


<!-- Main -->
<link rel="{{ rel }}" href="web/css/style.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/css/fixes_css.css" {{ linkType }}>
