<nav class="mnu-wrap">
	<ul class="main-mnu">
		<li><a href="#vorteile">Vorteile</a></li>
		<li><a href="#funktionen">Funktionen</a></li>
		<li><a href="#kunden">Kunden</a></li>
		<li><a href="#karriere">Karriere</a></li>
		<li><a href="https://app.hivebuy.de/" id="login-link">Login</a></li>
	</ul>
</nav>

{# {% include "menu-main.twig" %} #}