// Example
@keyframes animation_name
	0%
		//background-position: center left
	100%
		//height: 40%


// Run Animatiom
.anim-on

// Delay
@mixin transition_delay
	@for $i from 1 through 15
		&:nth-child(#{$i})
			transition-delay: #{$i * .15}s !important

.example-class
	@include transition_delay
	transition: .25s ease
// Example END

@keyframes bounce
	0%, 20%, 80%, 100% {transform: translate(0, -50%)}
	40% {transform: translate(-18px, -50%)}
	50% {transform: translate(5px, -50%)}
	60% {transform: translate(-10px, -50%)}

@keyframes scroll
	0%
		transform: translate(20%, 0)
	100%
		transform: translate(-100%, 0)






























// Safari Animation fix
.safari
