@import "_reset"
@import "_animation"

.btn-top
	position: absolute
	z-index: 9999
	left: 50%
	bottom: 15px
	transform: translateX(-50%)
	width: 40px
	height: 40px
	background-color: #FBFAF7
	cursor: pointer
	transition: .3s
	background-image: url("../img/_style/_svg/btn-top.svg")
	background-position: center
	background-repeat: no-repeat
	border-radius: 3px
	box-shadow: 0 0 3px 1px rgba(255,255,255,.25)
	opacity: 0
	&.on
		opacity: 1


// Button Drop Down Menu
.toggle-btn
	position: fixed
	display: block
	z-index: 1100
	right: 6vw
	top: 50px
	width: 70px
	height: 70px
	background-color: $bgc
	border-radius: 50%
	vertical-align: middle
	appearance: none
	border: none
	outline: none !important
	text-align: center
	text-decoration: none
	cursor: pointer
	box-shadow: rgba(60, 60, 59, 0.15) 0px 0px 20px

	span
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%)
		display: block
		width: 50%
		height: 0px
		transition: 0.5s
		backface-visibility: hidden
		&::after,
		&::before
			content: ""
			position: absolute
			left: 0
			top: -6px
			width: 100%
			height: 3px
			background-color: $title
			transition: .5s ease all
			backface-visibility: hidden
		&:after
			top: 6px

	&.on
		background-color: transparent
		box-shadow: none
		span
			&::before
				background-color: #fff
				transform: rotate(45deg) translate(4px, 4px)
			&::after
				background-color: #fff
				transform: rotate(-45deg) translate(4px, -4px)
// Button DropDown Menu END

.btn-sub-mnu
	border: none
	background-color: transparent
	outline: none !important
	display: none

.btn
	display: inline-block
	position: relative
	min-width: 100px
	padding: 0
	font-family: 'Inter-Medium', sans-serif
	font-size: 14px
	line-height: normal
	font-weight: normal
	text-transform: uppercase
	color: #fff
	border: none
	outline: none
	appearance: none
	background-color: #8a375e
	span
		position: relative
		z-index: 5
		padding: 13px 16px 13px 18px
		display: inline-flex
		align-items: center
		justify-content: center
	&::before,
	&::after
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		transition: .3s
	&::before
		background: linear-gradient(288deg, #9e4770, #5c164e)
	&::after
		background: linear-gradient(288deg, #8a375e, #400f36)
		opacity: 0
	&:hover
		color: #fff
		text-decoration: none
		&::before
			opacity: 0
		&::after
			opacity: 1


	&.with-arrow
		span
			&::before
				content: '\2192'
				display: block
				position: absolute
				width: 14px
				height: 17px
				line-height: 1
				font-size: 14px
				font-weight: 500
				letter-spacing: 0.5px
				left: 25px
				top: 50%
				transform: translateY(-50%)
				z-index: 10
				font-family: 'Inter-Regular', sans-serif

		&:hover
			span
				&::before
					animation: bounce 2s infinite


.btn-mobile
	@extend .btn
