@import "_fonts"

// The Variables Styles
$main: #9E4770
$accent: #C5D8D1
$title: #000
$text: #243119
$bgc: #FBFAF7
$bdc: #ffffff



/* Title */
h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	font-weight: normal
	color: $title
	font-family: 'Inter-Regular', sans-serif

h1
	font-size: 90px
	line-height: 1.1

h2
	font-size: 50px
	line-height: 1.35

h3
	font-size: 26px
	line-height: 1.35

h4
	font-size: 18px
	line-height: 1.5



.h1-title
	@extend h1
.h2-title
	@extend h2
.h3-title
	@extend h3
.h4-title
	@extend h4



// String clamp
.string-limit
	span
		margin: 0 !important
		display: -webkit-box !important // flex
		-webkit-box-orient: vertical // display column
		-webkit-line-clamp: 3 // string number
		overflow: hidden


.txt-box
	p,
	ul,
	ol,
	img,
	table
		margin-bottom: 20px
		margin-bottom: 1.5em

	img
		display: block
		max-width: 100%
		width: auto !important
		height: auto !important

	ol
		padding-left: 20px
		li
			list-style-type: decimal

	ul
		li
			position: relative
			padding-left: 20px
			&::before
				content: ''
				display: block
				position: absolute
				left: 0
				top: 13px
				width: 10px
				height: 2px
				background-color: $text

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		&:not([class])
			display: block
			font-weight: normal
			margin-bottom: 25px

	h1
		font-size: 40px
	h2
		font-size: 35px
	h3
		font-size: 25px
	h4
		font-size: 22px
	h5
		font-size: 20px
	h6
		font-size: 20px

	a
		&:not([class])
			text-decoration: underline
			color: $main
