/* Mandatory formats .TTF, .EOT и .WOFF2 */
$font_1: 'Inter-Regular'
$fontURL_1: '../fonts/Inter-Regular/Inter-Regular'

$font_2: 'Inter-Medium'
$fontURL_2: '../fonts/Inter-Medium/Inter-Medium'

$font_3: 'SourceSerifPro-Regular'
$fontURL_3: '../fonts/SourceSerifPro-Regular/SourceSerifPro-Regular'

$font_4: 'SourceSerifPro-Italic'
$fontURL_4: '../fonts/SourceSerifPro-Italic/SourceSerifPro-Italic'

$font_5: 'SourceSerifPro-Bold'
$fontURL_5: '../fonts/SourceSerifPro-Bold/SourceSerifPro-Bold'




// Fonts
@font-face
	font-family: $font_1
	font-display: swap
	font-style: normal
	font-weight: normal
	src: url($fontURL_1 + '.ttf') format("truetype"), url($fontURL_1 + '.eot?#iefix') format("embedded-opentype")

@font-face
	font-family: $font_2
	font-display: swap
	font-style: normal
	font-weight: normal
	src: url($fontURL_2 + '.woff2') format("woff2"), url($fontURL_2 + '.ttf') format("truetype"), url($fontURL_2 + '.eot?#iefix') format("embedded-opentype")

@font-face
	font-family: $font_3
	font-display: swap
	font-style: normal
	font-weight: normal
	src: url($fontURL_3 + '.woff2') format("woff2"), url($fontURL_3 + '.ttf') format("truetype"), url($fontURL_3 + '.eot?#iefix') format("embedded-opentype")

@font-face
	font-family: $font_4
	font-display: swap
	font-style: normal
	font-weight: normal
	src: url($fontURL_4 + '.woff2') format("woff2"), url($fontURL_4 + '.ttf') format("truetype"), url($fontURL_4 + '.eot?#iefix') format("embedded-opentype")

@font-face
	font-family: $font_5
	font-display: swap
	font-style: normal
	font-weight: normal
	src: url($fontURL_5 + '.woff2') format("woff2"), url($fontURL_5 + '.ttf') format("truetype"), url($fontURL_5 + '.eot?#iefix') format("embedded-opentype")






