@import "_var"

/* ================= Header ================= */

/*============= hover-dropdown =============*/

.hover-dropdown
	overflow: hidden
	position: relative
	z-index: 9999
	display: inline-flex
	.arr-dn-ic
		transition: .2s

	&.hover
		overflow: visible
		z-index: 99999
		.arr-dn-ic
			transform: rotateX(180deg)


.hover-dropdown-btn
	cursor: default
	user-select: none
	white-space: nowrap
	span
		display: inline-block
		vertical-align: middle

.hover-dropdown-box
	position: absolute
	top: 100%
	left: 50%
	transform: translate(-50%,0)
	min-width: 100%
	line-height: 1em
	transition: .5s ease
	margin-top: -5px
	opacity: 0
	max-height: 0
	overflow: hidden

	ul
		white-space: nowrap
		color: $text

.hover
	.hover-dropdown-box
		margin-top: 0
		opacity: 1
		overflow: visible
		max-height: none
/*============= hover-dropdown END =============*/

.main-head
	color: inherit
	height: 66px
	.back-btn
		display: none

.inner-head
	@extend .main-head
	.mnu-wrap,
	.btn,
	.btn-mobile
		display: none
	.back-btn
		position: relative
		display: block
		margin-right: 25px
		padding-left: 25px
		color: $main
		font-family: 'Inter-Medium', sans-serif
		font-size: 14px
		line-height: 1.2
		transition: all .5s
		&::before
			content: '↓'
			position: absolute
			display: block
			left: 0
			top: 50%
			transform: translateY(-40%) rotate(90deg)
			width: 15px
			height: 17px
			line-height: 17px
			transition: all .5s
			color: $main
		&:hover
			color: #5C164E
			text-decoration: none
			&::before
				color: #5C164E
	.logo-wrap
		margin: 16px 0 16px 20px



.head-top
	width: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 9999
	min-width: 320px
	border-bottom: 1px solid rgba(0, 0, 0, 0.06)
	background-color: $bgc

.head-line
	height: 100%
	display: flex
	align-items: center
	justify-content: space-between
	.btn
		span
			padding: 23px 26px 26px 50px


.head-cell
	display: flex
	height: 100%
	align-items: center
	&.right
		justify-content: flex-end

.logo-wrap
	display: block
	width: 150px
	cursor: pointer
	margin-left: 20px
	img
		display: block
		width: 100%

.main-mnu
	display: flex
	align-items: center
	font-family: 'Inter-Medium', sans-serif
	font-size: 14px
	line-height: 1.2
	font-weight: normal
	> li
		list-style: none
		margin-right: 41px
































