
@media only screen and (max-width : 1580px)
	.funktioniert-wrap
		.width-limit
			.img-wrap
				width: 1060px

	.p-width-limit
		width: 615px






@media only screen and (max-width : 1199px)
	.dashboard-page:not(.bottom-page)
		h1
			font-size: 75px
		.bg-figure-r-green
			width: 10%

	.companies-wrap
		.img-wrap
			margin-left: 60px

	.title-wrap,
	.bottom-page
		h2
			font-size: 40px

	#vorteile
		h3
			font-size: 24px

	.itm-text
		font-size: 34px

	#kunden
		.bg-figure-r-green
			top: 85px
			width: 8%
		.bg-figure-r-plum
			width: 10%

	.features-cards-wrap
		margin: 0 -25px

	.features-card
		padding: 0 25px






@media only screen and (max-width : 768px)
	section
		padding: 70px 0
	.main-head
		height: 55px

	.head-top
		.btn
			display: none
		.btn-mobile
			display: block
			font-size: 13px
			span
				padding: 18px 21px 20px 37px
				&::before
					left: 15px
	.inner-head
		.btn-mobile
			display: none

	.main-mnu
		> li
			margin-right: 20px

	.logo-wrap
		width: 143px

	.dashboard-page
		padding-top: 110px
	.dashboard-page:not(.bottom-page)
		.bg-figure-r-plum
			width: 18%
		.bg-figure-r-green
			width: 13%
		h1
			font-size: 70px

	.companies-wrap
		.img-wrap
			margin-left: 40px

	.content-wrap
		margin-left: 8.5%

	.title-wrap
		width: 90%
		h2
			font-size: 36px
	.bottom-page
		h2
			font-size: 36px

	.funktioniert-wrap
		.width-limit
			margin-top: 43px

	#vorteile
		h3
			font-size: 22px
		p
			font-size: 15px

	.itm-text
		font-size: 30px

	#kunden
		.bg-figure-r-green
			top: 85px
			right: 20%
			width: 11%
		.bg-figure-r-plum
			width: 14%


	.features-card
		width: 50%
		margin-top: 30px

	.card-top
		padding-bottom: 15px
	.card-descr
		padding-top: 15px
		p
			margin-top: 12px

	.itm-top
		.client-photo
			width: 90px
			height: 90px
		.client-company
			text-align: right
			img
				display: inline-block
				width: 80%


	.itm-text
		margin: 21px 0


	.bottom-page
		.bg-figure-r-plum
			top: 15%
		.bg-figure-r-green
			top: 25%
		.btn-wrap
			text-align: center
			margin: 40px auto 0


	.footer-wrap
		padding: 42px 0 70px

	.footer-row
		&:last-child
			margin-top: 70px

	.text-section
		padding: 120px 0





@media only screen and (max-width : 767px)
	.main-mnu
		display: none

	.dashboard-page:not(.bottom-page)
		h1
			font-size: 60px

	.companies-wrap
		display: none
	.companies-wrap-mobile
		display: flex
		align-items: center
		justify-content: space-between

	.p-width-limit
		width: 100%

	.vorteil-row
		flex-wrap: wrap

	.vorteil-cell,
	.vorteil-cell-descr
		width: 100%

	.vorteil-cell-descr
		margin-top: 20px
		.img-wrap
			display: none
		h3
			padding-bottom: 19px
			border-bottom: 1px solid #DFD3EC
		p
			padding-top: 19px

	#funktionen
		.features-cards-wrap,
		.desktop-img
			display: none

	#funktionen
		.mobile-img,
		.features-cards-mobile
			display: block
		.bg-figure-l-green
			left: -10%
			width: 10%
		.bg-figure-l-plum
			width: 30%
		.bg-figure-r-plum,
		.bg-figure-r-green
			display: none
		.funktionen-top
			margin-top: 42px

	.features-cards-mobile
		margin-top: 20px

	#uber-uns
		.text-hidden,
		.more-btn
			font-size: 15px
		.more-btn
			margin-top: 20px
			padding-left: 16px
			&::before
				height: 16px
				left: -6px

	.job-row
		font-size: 15px

	.job-links
		display: none
	.job-links-mobile
		display: block

	.title-404
		h1
			font-size: 50px






@media only screen and (max-width : 576px)
	section
		padding: 60px 0
	.dashboard-page
		padding-top: 90px
		.content-wrap
			width: 570px
			margin-left: 0
	.dashboard-page:not(.bottom-page)
		.bg-figure-r-plum
			width: 30%
			right: -19vw
			top: 0
		.bg-figure-r-green
			width: 20%
			top: -55px
			right: 7vw
		h1
			font-size: 50px

	.human-figure
		margin-left: 20px
		width: 13%

	.macbook-figure
		left: 15%

	.sect-mark
		display: block
		position: static
		transform: none
		margin-bottom: 20px
		font-size: 12px

	.content-wrap,
	.title-wrap
		margin-left: 0

	.title-wrap
		width: 100%
	.title-wrap,
	.bottom-page
		h2
			font-size: 32px
			width: 90vw
		br
			display: none

	.funktioniert-wrap
		p
			margin-top: 26px

	.client-slider-wrap
		margin-top: 42px
	.slide-controls
		margin-top: 33px
	.slick-prev,
	.slick-next
		&::before
			font-size: 15px !important
	.slick-next
		margin-left: 20px !important

	.itm-text
		font-size: 25px
		margin: 15px 0

	.itm-sign,
	.paging-info
		font-size: 15px

	#kunden
		.bg-figure-r-green
			top: 140px
			right: 20%
			width: 15%
		.bg-figure-r-plum
			top: 70px
			right: 0
			width: 21%


	#uber-uns
		.img-wrap
			margin-top: 40px
			width: 100vw
			margin-left: -5.5vw
		.img-wrap-desktop
			display: none
		.img-wrap-mobile
			display: block


	.bottom-page
		padding-bottom: 140px
		.human-figure
			margin-left: 0
		.bg-figure-l-green
			display: none
		.bg-figure-r-plum
			top: 23%
			right: -14%
			width: 16%
		.bg-figure-r-green
			top: 31%
			right: 0
			width: 28%


	.footer-row
		flex-wrap: wrap
		&:last-child
			margin-top: 30px

	.foot-cell
		width: 100%

	.foot-subscribe
		order: 1
		padding-bottom: 50px
		border-bottom: 1px solid $main
		p, a
			font-size: 18px
		.img-wrap
			width: 12px
			margin-right: 10px
	.form-wrap
		margin-top: 34px

	.foot-links
		order: 2
		margin-top: 30px
		ul
			flex-direction: row
			flex-wrap: wrap
			li
				width: 50%
				margin: 10px 0 !important

	.language-swich
		padding-bottom: 40px
		border-bottom: 1px solid $main
	.copyright
		margin-top: 40px


	.inner-head
		.logo-wrap
			margin: 11px 0 11px 20px
		.back-btn
			font-size: 13px
			padding-left: 20px
			&::before
				transform: translateY(-40%) rotate(90deg)

	.text-section
		padding: 80px 0
		.title-wrap
			margin-bottom: 20px
		.text-block
			margin-top: 40px
			&:last-child
				margin-top: 60px
			p,a
				font-size: 15px
		.datenschutz
			width: 100%

.slick-prev,
.slick-next
	&::before
		font-size: 16px
.slick-next
	margin-left: 30px






// Min width ================================================
@media only screen and (min-width : 769px)
	.btn-mobile
		display: none

@media only screen and (min-width : 576px)
	.btn-top
		display: none !important
	.text-block
		&.with-br
			br
				display: none

@media only screen and (min-width : 1650px)
	.container
		max-width: 1440px

	.main-mnu
		font-size: 16px
		> li
			margin-right: 50px
	.btn
		font-size: 16px

@media only screen and (min-width : 1439px)
	.width-limit
		.mCSB_draggerContainer
			display: none

