@import "_icons"
@import "_btns"
@import "_animation"

.hidden
	display: none !important

.cover-img
	position: relative
	display: block
	border-radius: 0
	overflow: hidden
	background-color: #eee
	img
		margin: 0 !important

	.base-img
		display: block
		position: relative
		width: 100% !important
		height: auto !important
		opacity: 0

	.main-img
		display: block
		position: absolute
		z-index: 2
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		width: calc(100% + 2px)
		height: calc(100% + 2px)
		object-fit: cover


// body =============================

body
	position: relative
	min-width: 320px
	font-family: 'SourceSerifPro-Regular', sans-serif
	font-size: 16px
	line-height: 1.75
	letter-spacing: 0.5px
	font-weight: normal
	color: $text
	-webkit-text-size-adjust: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-moz-font-smoothing: grayscale
	background-color: $bgc

	&.modal-open
		overflow: hidden
		touch-action: none
		-ms-touch-action: none
	&.mnu-open
		overflow: hidden
		touch-action: none
		-ms-touch-action: none
		.wrapper
			position: relative
			overflow: hidden
			touch-action: none

.home-wrap,
.page-wrap
	> section
		max-width: 100vw !important



/* footer on bottom */

.wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	overflow: hidden

.layout
	flex: 1
	min-height: 200px

.int-expl
	.wrapper
		display: block

/* footer on bottom END */


// modal
.modal
	padding-left: 15px !important
	padding-right: 15px !important

	.modal-dialog
		margin-left: auto !important
		margin-right: auto !important

.modal-top
	height: 25px
	.close
		position: absolute
		z-index: 10
		top: 15px
		right: 15px
		appearance: none
		border: none
		background-color: transparent
		display: inline-block
		width: 30px
		height: 30px
		background-image: url("../img/_style/_svg/close.svg")
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		cursor: pointer
		outline: none !important
		background-size: 20px
		&:hover
			opacity: .75

.modal-body
	text-align: center

.modal-title
	margin-bottom: 25px
