@import "_header"
@import "_animation"

// Main Styles =========================
.container
	max-width: 90vw
	padding: 0
	margin: 0 auto
	position: relative

.bg-figure
	position: absolute
	z-index: 1

.bg-figure,
.img-wrap
	img
		display: block
		width: 100%
		object-fit: contain

.sect-mark
	position: absolute
	top: -4px
	left: 0
	color: $main
	font-family: 'Inter-Medium', sans-serif
	font-size: 14px
	line-height: 1.2
	letter-spacing: 8px
	text-transform: uppercase
	transform: rotate(90deg)
	transform-origin: bottom left

section
	padding: 110px 0


// Home =========================

.dashboard-page
	padding-top: 170px
	.bg-figure-r-plum
		top: 100px
		right: 0
		width: 13.5%
	.bg-figure-r-green
		top: 20px
		right: 12vw
		width: 8.5%
	.content-wrap
		margin-left: 8.5%
		display: flex
		flex-direction: column
		width: 91.5%

.dashboard-wrap
	width: 100%
	position: relative
	display: flex
	margin-top: 30px
	align-items: flex-end
	.arrow-figure
		top: 0
		left: 0
		width: 5%

.macbook-figure
	position: absolute
	bottom: 0
	left: 19%
	width: 81%
	z-index: 10
	.img-wrap
		position: absolute
		top: 6.3%
		left: 5%
		width: 90%

.human-figure
	width: 14%
	margin-left: 6%
	margin-top: 13.5%
	opacity: 0.8

.companies-wrap
	margin: 32px 0 0 auto
	display: flex
	align-items: center
	width: 81%
	.img-wrap
		margin-left: 80px
		&:first-child
			margin-left: 0
.companies-wrap-mobile
	display: none
	margin-top: 30px
	animation: scroll 45s infinite linear
	width: 500%
	overflow: hidden
	.img-wrap
		margin-left: 35px
		&:first-child
			margin-left: 0

.title-wrap
	margin-left: 8.5%
	width: 74%

.content-wrap
	margin-left: 17%
	p
		display: block
		margin: 0

.p-width-limit
	width: 700px

.funktioniert-wrap
	p
		margin-top: 37px
	.width-limit
		max-width: 100%
		overflow: auto
		margin-top: 55px
		.img-wrap
			width: 100%
		.mCSB_draggerRail
			background-color: $main
			margin: 11px
			width: 97%
		.mCSB_draggerContainer
			height: 22px
		#mCSB_1_dragger_horizontal
			width: 87px !important
			height: 22px !important
			top: 0
			bottom: 0
		.mCSB_dragger_bar
			background-color: #8a375e !important
			width: 100% !important
			height: 100% !important
			border-radius: 4px !important
			background: url(../img/_style/_svg/slider.svg) center no-repeat
			margin: 0 !important
		#mCSB_1_scrollbar_horizontal
			height: 22px
			opacity: 1 !important
		#mCSB_1_container
			.img-wrap
				margin-bottom: 25px


.vorteil-row
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 50px
	&.reverse-row
		flex-direction: row-reverse
		.vorteil-cell-descr
			.img-wrap
				margin: 8px -10% 8px 0

.vorteil-cell
	position: relative
	width: 42%
	.img-wrap
		width: 100%

.vorteil-cell-descr
	width: 48%
	.img-wrap
		width: 110%
		margin: 8px 0 8px -10%

.workload
	.bg-figure-l-plum
		top: 0
		left: 0
		width: 28%

.communication
	.img-wrap
		opacity: 0.8
	.bg-figure-l-green
		left: 0
		top: 30%
		width: 27%
	.bg-figure-r-plum
		right: 9%
		top: 0
		width: 13%

.digitalization
	.img-wrap
		opacity: 0.8
	.bg-figure-l-green
		left: 10%
		bottom: 15%
		width: 13%
	.bg-figure-r-plum
		right: 0
		top: 0
		width: 27%

.vendors
	.img-wrap
		position: relative
		z-index: 10
		opacity: 0.8
	.bg-figure-r-green
		top: 0
		right: 0
		width: 37%
		z-index: 0


.client-slider-wrap
	margin-top: 53px
	position: relative
	z-index: 10
	.client-slider-itm
		padding: 0 5px
.slide-controls
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 44px
	border-top: 1px solid #DFD3EC
	padding-top: 10px
.paging-info
	display: flex
	align-items: center
	color: $main
	font-family: 'Inter-Regular', sans-serif
.paging-info-divide
	margin: 0 5px
.slider-nav
	display: flex
	align-items: center
.slick-prev,
.slick-next
	position: relative
	display: block
	cursor: pointer
	width: 20px
	height: 20px
	border: none
	border-radius: 0
	outline: none !important
	appearance: none !important
	background-color: transparent
	transition: all .5s
	color: $main
	&:hover
		&::before
			color: #5c164e

.slick-prev,
.slick-next
	&::before
		content: '\27F5'
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		line-height: normal
		font-size: 16px
		font-family: 'Inter-Regular', sans-serif
		transition: all .5s
		cursor: pointer
.slick-next
	margin-left: 35px
	&::before
		content: '\27F6'



.itm-top
	display: flex
	align-items: flex-end
	justify-content: space-between
	.client-photo
		width: 120px
		height: 120px
		border-radius: 50%
		overflow: hidden


.itm-text
	margin: 25px 0
	font-family: 'SourceSerifPro-Italic', sans-serif
	font-size: 40px
	line-height: 1.3

.itm-sign
	font-family: 'Inter-Regular', sans-serif
	line-height: 1.75

#kunden
	.bg-figure-r-green
		top: 105px
		right: 16%
		width: 6%
	.bg-figure-r-plum
		top: 0
		right: 8%
		width: 8%


#funktionen
	.img-wrap
		position: relative
		z-index: 10
	.funktionen-top
		position: relative
		margin-top: 53px
	.mobile-img
		display: none
		img
			opacity: 0.8
	.desktop-img
		width: 100%
		img
			opacity: 0.8

	.bg-figure-l-green
		bottom: 20px
		left: -9%
		width: 8%
	.bg-figure-l-plum
		bottom: 20%
		left: 0
		width: 17%
	.bg-figure-r-plum
		top: -21%
		right: 25%
		width: 10%
	.bg-figure-r-green
		top: 0
		right: 9%
		width: 16%

.features-cards-mobile
	display: none

.features-cards-wrap
	display: flex
	align-items: stretch
	flex-wrap: wrap
	margin: 0 -53px

.features-card
	width: 33.33%
	margin-top: 40px
	padding: 0 53px

.card-top
	padding-bottom: 20px
	border-bottom: 1px solid #DFD3EC
	.img-wrap
		width: 32px
		height: 32px

.card-descr
	padding-top: 23px
	p
		margin-top: 17px

.features-slider-itm
	padding-top: 19px
	p
		margin-top: 15px


#uber-uns
	p
		margin-top: 25px
	.img-wrap
		margin-top: 50px
	.img-wrap-mobile
		display: none
	.uber-descr
		margin-top: 25px
		.text-hidden
			margin: 0
			overflow: hidden
			display: -webkit-box
			-webkit-box-orient: vertical
			max-height: 90px
	.more-btn
		position: relative
		display: block
		margin-top: 24px
		padding-left: 20px
		color: $main
		font-family: 'Inter-Regular', sans-serif
		line-height: 1.2
		transition: all 0.3s
		&:hover
			color: #5c164e
			text-decoration: none
		&::before
			content: '\2193'
			position: absolute
			height: 20px
			width: 14px
			font-size: 16px
			top: 0
			left: 0
			transition: all 0.3s
		&.open
			&::before
				transform: rotate(180deg)
				transform-origin: center
				top: auto
				bottom: 0


.line-clamp
	-webkit-line-clamp: 3

.no-line-clamp
	-webkit-line-clamp: unset


#karriere
	.content-wrap
		margin-top: 25px


.job-wrap
	margin-top: 50px

.job-row
	display: flex
	align-items: center
	justify-content: space-between
	padding: 24px 0
	border-bottom: 1px solid #DFD3EC
	transition: all 0.7s
	color: $title
	font-family: 'Inter-Regular', sans-serif
	&:first-child
		border-top: 1px solid #DFD3EC
	&:not(:first-child)
		border-top: 1px solid rgba(223, 211, 236, 0)
		margin-top: -1px
	&:hover
		border-color: #9E4770
		color: #5C164E
		.job-links
			color: #5C164E
		.job-links
			&::before
				color: #5C164E



.job-text
	max-width: 72%

.job-links
	color: $main
	position: relative
	text-align: right
	transition: all 0.7s
	padding-left: 20px
	&::before
		content: '\2192'
		position: absolute
		display: block
		left: 0
		top: 50%
		transform: translateY(-50%)
		line-height: normal
		font-size: 16px
		transition: all .5s
		color: $main
	&:hover
		text-decoration: none

.job-links-mobile
	@extend .job-links
	display: none


.bottom-page
	padding-top: 110px
	padding-bottom: 150px
	.human-figure
		width: 15%
		margin-left: 3%
		margin-top: 16.5%
	.bg-figure-l-green
		bottom: 25%
		left: 3%
		width: 9%
	.bg-figure-r-plum
		top: 5%
		right: 0
		width: 8%
	.bg-figure-r-green
		top: 15%
		right: 8%
		width: 13%
	.btn-wrap
		margin: 50px auto 0 57%
		.btn
			font-size: 12px
			// border-radius: 3px
			// border: 1px solid transparent
			span
				padding: 15px 16px 14px 37px
				&::before
					left: 15px
					line-height: normal


.text-section
	padding: 160px 0
	.title-wrap
		margin-left: 0
		margin-bottom: 30px
	.text-block
		margin-top: 50px
		a
			text-decoration: underline
			&:hover
				text-decoration: none
		&:first-child
			margin-top: 0
		&:last-child
			margin-top: 80px
		h4
			margin-bottom: 10px
			color: $text
		.block-title
			font-family: 'SourceSerifPro-Bold', sans-serif


	.datenschutz
		width: 78%
		.text-block
			p
				margin-bottom: 16px
			&:last-child
				margin-bottom: 0
			&:last-child
				margin-top: 50px








// Footer ================================
.main-foot
	color: inherit
	width: 100vw
	color: $title
	li
		list-style: none

.inner-foot
	@extend .main-foot

.footer-wrap
	border-top: 1px solid $main
	padding: 98px 0 80px

.footer-row
	display: flex
	align-items: flex-start
	justify-content: space-between
	&:last-child
		margin-top: 150px

.foot-cell
	width: 335px

.language-swich
	display: flex
	align-items: center
	ul
		display: flex
		align-items: center

.copyright
	font-family: 'Inter-Regular', sans-serif
	font-size: 14px
	line-height: 1.2
	opacity: 0.4

.foot-links,
.language-swich
	font-family: 'Inter-Medium', sans-serif
	font-size: 14px
	line-height: 1.2

.foot-links
	&.active
		a
			text-decoration: underline
	ul
		display: flex
		flex-direction: column
	li
		display: block
		width: 100%
	li:not(:first-child)
		margin-top: 40px

.language-swich
	a:not(.active-language)
		opacity: 0.4
	.active-language
		text-decoration: underline
	li
		margin-left: 10px
	a:hover
		opacity: 1

.foot-subscribe
	p
		font-size: 20px
		line-height: 1.4
		margin-bottom: 12px

.call-wrap
	a
		display: flex
		align-items: center
		font-family: 'Inter-Medium', sans-serif
		font-size: 20px
		line-height: 1.2
	.img-wrap
		display: inline-block
		width: 14px
		margin-right: 15px

.form-wrap
	margin-top: 50px
	form
		display: flex
		align-items: center
	.btn
		font-size: 11px
		line-height: 1.25
		width: 33%
	input
		appearance: none
		outline: none
		height: 40px
		width: 67%
		border: none
		background-color: rgba(158, 71, 112, 0.08)
		font-family: 'Inter-Regular', sans-serif
		font-size: 14px
		line-height: 1.2
		padding-left: 15px
		color: $main
		&::placeholder
			font-family: 'Inter-Regular', sans-serif
			font-size: 14px
			line-height: 1.2
			color: $main








@import "_fixes"
/* ========================== Media Queries ========================== */
@import "_media"